textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block; // Remove margin under textarea in Chrome and FF
  width: 100%;
  margin: $leading 0 $leading*2 0;
  padding: 0 $leading/4;
  border: 2px solid $grey;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bodyweight;
  line-height: inherit;

  &:focus {
    outline: 2px solid $yellow2;
  }
}
