@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,700italic);

$body: 18px;
$leading: 28px;

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: $body;
  line-height: $leading;
  color: $text-colour;
}

// a 14px base:
.baseline {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% $leading;
}
