ul, ol {
  margin: $leading 0 $leading*2 0;
  padding-left: 1em;
  list-style-type: square;
  letter-spacing: 0.01em;
  list-style-position: inside;
}

li {
    margin:  0 0 $leading 0;
    padding-left: 0;
}

ul.link-list {
    list-style-type: none;
    padding: 0;
}

.callout ul {
   list-style-type: none;
    list-style-position: inside;
    padding-left: 0em;
}

.callout.gp ul {
      margin-bottom: $leading*2; /* possible dperecated */
}
