ul, ol {
  margin: 0 0 $leading 0;
  padding-left: 1em;
  list-style-type: square;
}

li {
    margin:  0 0 $leading 0;
    padding-left: 0;
}

ul.link-list {
    list-style-type: none;
    padding: 0;
}

ul ul {
  margin: $leading 0 $leading 0;
  padding-left: 1em;
  list-style-type: square;
}


.callout.gp ul{
      margin-bottom: $leading*2;
}