html {
  background-color: #f2f2f2;
}

#global-footer {
  border-top: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}

.footer-container {
  @extend %block;
  @extend %contain-floats;

  padding-top: $leading*3;
  padding-bottom: $leading*6;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &:after {
        content: ' /';
      }
      &:last-child:after {
        content: '';
      }
    }
  }
}
