#global-header {
  background-color: $nhs-blue;
  border-bottom: 1px solid $page-colour;
}

.header-container {
  @extend %block;
  @extend %contain-floats;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header-logo {
  display: block;
  float: left;
  padding: 6px 0;

  img {
    display: block;
  }
}

.header-search {
  display: block;
  float: right;

  input {
    display: none;  // This is not right. Work on interaction for this.
    box-sizing: border-box;
    float: left;
    height: 42px;
    width: 338px;
    padding: 0;
    background-color: $white;
    border: 1px solid #00365D;

    @include media(480px) {
      display: block;
    }
  }

  button {
    box-sizing: border-box;
    float: left;
    height: 42px;
    width: 42px;
    text-indent: -999em;
    background: url("/images/icon-search.svg") center center no-repeat #00365D;
    background-size: 16px;
    border: 1px solid #00365D;
  }
}
