#global-header {
  background-color: $nhs-blue;
  border-bottom: 1px solid rgba(255,255,255,0.4); /* $page-colour */
}

.header-container {
  @extend %block;
  @extend %contain-floats;
  padding-top: $leading;
  padding-bottom: $leading;

  @include media(480px) {
    padding-top: $leading*2;
    padding-bottom: $leading*2; 
  }
}

.header-logo {
  display: block;
  float: left;

  img {
    display: block;
  }
}

.header-search {
  display: block;
  float: right;

  input {
    display: none;  // This is not right. Work on interaction for this.
    box-sizing: border-box;
    float: left;
    height: $leading*3;
    width: 338px;
    padding: 0;
    background-color: $white;
    border: 1px solid $dark-blue;

    @include media(480px) {
      display: block;
    }
  }

  button {
    box-sizing: border-box;
    float: left;
    height: $leading*3;
    width: $leading*3;
    text-indent: -999em;
    background: url("/images/icon-search.svg") center center no-repeat $dark-blue;
    background-size: 16px;
    border: 1px solid $dark-blue;
  }
}
