.image-module {
  margin: 0 0 $leading*2 0;
  min-height: $leading*18 ;
}

.image-module img {
  margin-right: 28px;
  float: left;

}

.image-description{
  @include media(large) {
    overflow: auto; 
    }
  }



