img {
  display: block;
  max-width: 100%;
}

.image-module {
  margin: 0 0 $leading*2 0;
  min-height: $leading*18 ;
}

.image-module img {
  margin-right: 28px;
  float: left;

}

.image-description {
  @include media(large) {
    overflow: auto;
    }
}

.condition-images {
  @extend %contain-floats;
  margin: 36px 0 20px 0;

  @include media(707px) {
    text-align: left;
  }

  figure {
    display: block;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto 18px auto;

    @include media(707px) {
      display: inline-block;
      vertical-align: top;
      margin: 0 18px 18px 0;
    }
  }

  figcaption {
    padding: 6px 6px 12px 6px;
    background-color: tint($blue, 95%);
  }
}
