{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Seeking help - Depression and anxiety - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Depression and anxiety<!-- {{ pagetitle }} --></h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li>
                  <a href="/depression-and-anxiety/how-to-tell-if-you-have-it">How to tell if you have it</a>
              </li>
              <li>
                  Seeking help
              </li>
              <li>
                  <a href="/depression-and-anxiety/getting-therapy">Getting therapy</a>
              </li>
              <li>
                  <a href="/depression-and-anxiety/understanding-medication">Understanding medication</a>
              </li>
              <li>
                  <a href="/depression-and-anxiety/managing-depression-and-anxiety">Managing depression and anxiety</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="#what-you-can-do-about-heachaches">Seeking help</h2>

          <p>If you have <a href="/depression-and-anxiety/how-to-tell-if-you-have-it">symptoms of depression or anxiety</a> for more than 2 weeks you should see your GP. This is usually the first step to seek help.</p>

          <div class="callout notice" role="note" aria-label="Information">
            <p>If you need help now, call 111 or the Samaritans on <span class="nowrap">08457 90 90 90</span>.</p>
          </div>

          <p>It’s very common for people to see their GP about constant low mood, depression or anxiety.</p>

          <p>You can also <a href="/depression-and-anxiety/getting-therapy">see a therapist privately</a> without going through your GP or talk to someone at one of the <a href="/depression-and-anxiety/getting-therapy">depression and anxiety charities.</a></p>

          <h3 id="what-happens-in-your-gp-appointment">What happens in your GP appointment</h3>
          <p>Your GP will discuss your symptoms with you and recommend what you can do next.</p>

          <p>You can be open and honest with your GP. This will help them to find the best way to help you.</p>

          <p>They might recommend <a href="/depression-and-anxiety/getting-therapy">therapy</a> or <a href="/depression-and-anxiety/understanding-medication">medication</a>, or both. They might just recommend something as simple as exercising regularly.</p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->

<div class="">

  <div class="content">

      <div class="grid-row">
            
            <nav class="article-pagination">

                <div class="next-page">
                    <a href="/depression-and-anxiety/getting-therapy">
                    <span class="prefix">Next page:</span>
                    <span class="title">Getting therapy</span>
                    </a>
                </div>

                <div class="previous-page">
                    <a href="/depression-and-anxiety/how-to-tell-if-you-have-it">
                    <span class="prefix">Previous page:</span>
                    <span class="title">How to tell if you have it</span>
                    </a>
                </div>

            </nav>

      </div> <!-- end row -->
      
  </div>  
  
</div>


{% endblock %}
