{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Hand foot and mouth disease" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
      <div class="measure">
        <p class="lede">Hand, foot and mouth disease is a common infection that
          mostly affects children under 10. It usually clears up by itself,
          within about a week.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">

    <div class="grid-2-3">

      <p>The first sign of hand, foot and mouth disease can be:</p>

      <ul>
        <li>a sore throat</li>
        <li>a fever, typically 38&ndash;39&deg;C</li>
        <li>not wanting to eat</li>
      </ul>

      <p>After a few days mouth ulcers and a rash will appear.</p>

    </div>

  </div> <!-- end row -->

  <div class="condition-images">
    <figure>
      <img src="/images/hand-foot-and-mouth-disease/01-mouth-ulcers.jpg" alt="mouth ulcers" />
      <figcaption>Ulcers appear in the mouth and on the tongue. These can be
        painful it may be difficult to eat and drink.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/hand-foot-and-mouth-disease/02-rash.jpg" alt="rash on hands and feet" />
      <figcaption>A rash usually also appears on the hands and feet. The spots are often red before developing into a blister.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/hand-foot-and-mouth-disease/03-blisters.jpg" alt="blisters" />
      <figcaption>The blisters are grey and they can be painful.</figcaption>
    </figure>
  </div>

  <div class="grid-row">

    <div class="grid-2-3">

      <p>If you’re unsure it’s hand, foot and mouth disease, look at other
        <a href="http://www.nhs.uk/conditions/skin-rash-children/Pages/Introduction.aspx">childhood rashes.</a></p>

      <h2>How to treat hand, foot and mouth disease at home</h2>
      <ul>
        <li>drink fluids to avoid dehydration (avoid acidic drinks, like fruit juice)</li>
        <li>eat soft foods like soup</li>
        <li>take paracetamol or ibuprofen can help ease a sore throat and bring down a temperature</li>
      </ul>

      <p>You can buy mouth ulcer gels, sprays, and mouthwashes to ease the
        blisters. Always check they are suitable for children and give the
        correct dose.</p>

      <div class="callout gp">
        <h2 class="heading">See a GP</h2>
        <ul>
          <li>if your child isn’t better after a week</li>
          <li>if your child is dehydrated &mdash; they’re not weeing as often as usual</li>
          <li>if you’re concerned about your child’s symptoms</li>
          <li>if you’re pregnant and get hand, foot and mouth disease</li>
        </ul>
      </div>

      <h2>How to stop hand, foot and mouth disease spreading</h2>

      <p>Hand, foot and mouth disease spreads easily.</p>

      <p>Keep your child away from school or nursery while they're feeling
        unwell. Generally, there's no need to keep them off until the blisters
        scab. However, check with your school or nursery as they may have their
        own guidance.</p>

      <h2>Hand, foot and mouth disease in pregnancy</h2>

      <p>It’s best to avoid close contact with anyone who has hand, foot and
        mouth disease.</p>

      <p>There’s normally no risk to the pregnancy or baby. However, there’s
        limited evidence that in very rare cases catching it during the first
        three months of pregnancy could lead to miscarriage. This risk is very
        low.</p>

      <p><a href="http://www.nhs.uk/Conditions/Hand-foot-and-mouth-disease/Pages/Introduction.aspx">More information on hand, foot and mouth disease.</a></p>

    </div>

  </div> <!-- end row -->

</div> <!-- content -->
{% endblock %}
