{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Head lice" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
      <div class="measure">
          <p class="lede">Head lice, also called nits, are very common in young
            children. They don’t have anything to do with dirty hair.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">

    <div class="grid-2-3">

      <h2>Check if you have them</h2>

    </div>

  </div> <!-- end row -->

  <div class="condition-images">
    <figure>
      <img src="/images/head-lice/01_head_lice.png" alt="lice" />
      <figcaption>Head lice are small insects, up to 3mm long.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/head-lice/02_head_lice_zoom.png" alt="lice" />
      <figcaption>Close up view of a louse.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/head-lice/03-empty-eggs.jpg" alt="nits" />
      <figcaption>Head lice eggs are yellow, brown or white (empty shells) and
        attached to the hair.</figcaption>
    </figure>
  </div>

  <div class="grid-row">

    <div class="grid-2-3">

      <p>Other signs of head lice can include:</p>

      <ul>
        <li>an itchy head</li>
        <li>the feeling of something moving in your hair</li>
      </ul>

      <p><b>As soon as you spot head lice you should treat them. You can do
        this without seeing your GP.</b></p>

      <p>There’s no need to keep your child off school with head lice.</p>

      <h2>How to get rid of head lice</h2>

      <h3>Use lotion or spray to get rid of head lice</h3>

      <p>You can use medicated lotions and sprays that kill head lice in all
        types of hair, including afro hair. These can be bought from
        pharmacies, supermarkets or online.</p>

      <p>They are used in different ways so it’s important to follow the
        instructions carefully.</p>

      <p>Head lice should die and fall out within a day. These products come
        with a comb to remove dead lice and eggs.</p>

      <p>You should repeat treatment after a week to kill any lice hatched from
        eggs left in the hair.</p>

      <p><b>Check everyone at home for lice. Only treat hair if you find head
        lice or eggs.</b></p>

      <p>If treatment hasn’t worked, speak to your pharmacist about an
        alternative lotion or spray.</p>

      <h3>Use a special comb if you don’t want to use chemicals</h3>

      <p>You can buy a special fine-toothed comb online or from pharmacies.</p>

      <p>You should:</p>

      <ul>
        <li>use the comb on wet hair</li>
        <li>comb from the roots to the end of the hair</li>
        <li>remove lice and eggs from the comb</li>
        <li>repeat every few days for 2 weeks</li>
      </ul>

      <p>It may help to comb the hair over a white piece of paper to catch any
        lice.</p>

      <h2>You can’t prevent head lice</h2>

      <p>There’s nothing you can do to prevent head lice. However, you can
        reduce the risk of lice spreading by avoiding head-to-head contact.</p>

      <p>Don’t use medicated lotions and sprays to prevent head lice. They can
        irritate the scalp when used too often.</p>

      <p>
        <a href="http://www.nhs.uk/conditions/Head-lice/Pages/Introduction.aspx">
          Medical detail about head lice.</a>
      </p>

    </div>

  </div> <!-- end row -->

</div> <!-- content -->
{% endblock %}
