{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Head lice" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">

    <div class="grid-2-3">

      <h2>Check if you have them</h2>

    </div>

  </div> <!-- end row -->

  <div class="condition-images">
    <figure>
      <img src="/images/head-lice/placeholder.png" alt="lice" />
      <figcaption>Head lice are small insects, up to 3 mm long.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/head-lice/placeholder.png" alt="eggs" />
      <figcaption>Head lice eggs are yellow or brown. If you see these you’ll know that you have head lice.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/head-lice/03-empty-eggs.jpg" alt="nits" />
      <figcaption>The empty shells of the eggs after they hatch stay in the hair. These are called nits.</figcaption>
    </figure>
  </div>

  <div class="grid-row">

    <div class="grid-2-3">

      <p>Head lice and their eggs are:</p>

      <ul>
        <li>attached to the hair</li>
        <li>sometimes itchy</li>
        <li>can feel as though something is moving in your hair</li>
      </ul>

      <p>As soon as you spot head lice you should treat them. You can do this
        without seeing your GP.</p>

      <p>You can use sprays and lotions to get rid of headlice or a special comb
         if you don’t want to use chemicals.</p>

      <p>Anyone can get head lice. They don’t have anything to do with dirty hair.</p>

      <p>
        <a href="http://www.nhs.uk/conditions/Head-lice/Pages/Introduction.aspx">
          Medical detail about head lice.</a>
      </p>

      <h2>Use lotion or spray to get rid of head lice</h2>

      <p>These lotions and sprays kill head lice in any kind of hair, including
        afro hair:</p>

      <ul>
        <li>Hedrin (leave overnight)</li>
        <li>Full Marks Solution (leave for 10 minutes)</li>
        <li>solutions with Malathion (leave overnight)</li>
      </ul>

      <p>The head lice will die and fall out within a day. These products come
        with a comb to comb out the dead lice.</p>

      <p>You should repeat treatment after a week, to kill lice that hatch from
        eggs already laid in the hair.</p>

      <p>You can get them at the pharmacy, supermarket or online.</p>

      <h2>Use a special comb if you don’t want to use chemicals</h2>

      <p>If you’re allergic or don’t want to use chemicals you can use a comb
        with very fine teeth and comb the head lice out. It works on any kind of hair.</p>

      <p>It’s sold as a Bug Buster comb. You can get it at the pharmacy or online.</p>

      <h2>Check everyone in the house</h2>

      <p>Fully grown head lice can crawl from one head to another.</p>

      <p>Get a comb with very fine teeth (detection comb) at the pharmacy or
        online and comb through everyone’s hair in the house to check if they
        have head lice.</p>

      <p>You should let school know if your children have head lice because
        other children in the class might have them too without their parents knowing.</p>

      <h2>You can’t prevent head lice</h2>

      <p>There’s nothing you can do to prevent head lice. However, if you know
        someone has head lice or is treated for them, avoid head to head contact.</p>

      <p>If you’re worried about head lice you can run a detection comb (see
        above) through your hair to check if you have any.</p>

      <p>Don’t use lotions or sprays to prevent head lice. They can damage your
        scalp when used all the time.</p>

      <p>
        <a href="http://cks.nice.org.uk/head-lice#!background">National Institute
          for Health and Care Excellence on head lice.</a>
      </p>

    </div>

  </div> <!-- end row -->

</div> <!-- content -->
{% endblock %}
