{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Shingles" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">
    <div class="grid-2-3">

      <h2>Check if you have shingles</h2>

      <p>The first sign of shingles can be:</p>

      <ul>
        <li>a tingling or painful feeling in an area of skin</li>
        <li>headache or feeling generally unwell</li>
      </ul>

      <p>A rash will appear a few days later.</p>

      <p>Usually you get shingles on your chest and tummy, but it can appear on
        your face, eyes and genitals.</p>

    </div>
  </div> <!-- end row -->

  <div class="condition-images">
    <h3>What it looks like</h3>
    <figure>
      <img src="/images/shingles/01-shingles-rash.jpg" alt="shingles rash" />
      <figcaption>The shingles rash appears as red blotches on your skin, on
        one side of your body only. A rash on both the left and right of your
        body is unlikely to be shingles.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/shingles/02-itchy-blisters.jpg" alt="itchy blisters" />
      <figcaption>The blotches become itchy blisters which ooze fluid. A few
        days later the blisters dry out and scab.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/shingles/03-rash-band.jpg" alt="rash forming a band" />
      <figcaption>The rash can form a band that only appears on one side of
        your body. The skin remains panful until after the rash has
        gone.</figcaption>
    </figure>
  </div>

  <div class="grid-row">
    <div class="grid-2-3">

      <div class="callout gp">
        
        <h2>Speak to your GP as soon as you suspect shingles</h2>

        <p>There is medicine your GP can prescribe to speed up your recovery.</p>

      </div>

      <h2>How to treat shingles at home</h2>

      <p>You can buy painkillers to ease shingles pain.</p>


      <div class="callout notice" role="note" aria-label="Information">
        <p>It can take up to 4 weeks for the rash to heal. Pain can stay for weeks after the rash has gone, but it usually settles in time.</p>
      </div>

      <h3>Do</h3>

      <ul>
        <li>keep the rash clean and dry to reduce risk of infection</li>
        <li>wear loose-fitting clothing</li>
        <li>buy calamine lotion to ease itching</li>
        <li>use a cool compress (a bag of frozen vegetables wrapped in a towel
          or a wet cloth) a few times a day</li>
      </ul>

      <h3>Don’t</h3>

      <ul>
        <li>let dressings or plasters stick to the rash</li>
        <li>use antibiotic cream &mdash; this slows healing</li>
      </ul>

      <h2>Stay away from certain groups of people if you have shingles</h2>

      <p>Try to avoid:</p>

      <ul>
        <li>pregnant women who have not had chickenpox before</li>
        <li>people with a weakened immune system, such as someone with HIV or
          AIDS</li>
        <li>babies less than one month old (unless it is your own baby, as they
          should be protected from the virus by your immune system)</li>
      </ul>

      <h2>Stay off work or school until the rash scabs</h2>

      <p>Shingles is contagious only while the rash oozes fluid.</p>

      <h2>Shingles and pregnancy</h2>

      <p>If you’re pregnant and get shingles, there is no danger to your
        pregnancy or baby.</p>

      <p>If your GP thinks you need medicine, they may speak to a specialist to
        decide whether the benefits of medication outweigh any possible risk.</p>

      <h2>You can’t get shingles from chickenpox</h2>

      <p>You can’t get shingles from someone with shingles or chickenpox.</p>

      <p>However, you can get chickenpox from someone with shingles, if you
        haven’t had chickenpox before.</p>

    </div>
  </div>

</div> <!-- content -->
{% endblock %}
