{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Warts" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">
    <div class="grid-2-3">
      <h2>Check if you have them</h2>
    </div>
  </div>

  <div class="condition-images">
    <figure>
      <img src="/images/warts/01-standard-wart.jpg" alt="Wart" />
      <figcaption>Warts feel firm and rough like a cauliflower. They can appear
        on palms, knuckles, knees and fingers.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/warts/02-verruca.jpg" alt="Verruca" />
      <figcaption>Warts on your feet are known as verrucas. They have tiny
        black dots under the hard skin and can be painful - like standing on a
        needle.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/warts/placeholder.png" alt="Plane warts" />
      <figcaption>Some warts are round, flat and sometimes yellow (plane
        warts). You might have many of them.</figcaption>
    </figure><!--
    --><figure>
      <img src="/images/warts/04-cluster.jpg" alt="Mosaic warts" />
      <figcaption>Clusters of warts, spread over an area of skin (mosaic
        warts) are common on hands and feet.</figcaption>
    </figure>
  </div>

  <div class="grid-row">
    <div class="grid-2-3">

      <h2>Warts often go away on their own</h2>

      <p>You don’t have to do anything about warts. They’ll usually disappear
        within 2 years.</p>

      <p>Warts don’t cause you any harm. Sometimes warts can itch or bleed but
        that doesn’t mean there’s a problem.</p>

      <!-- CALLOUT! WARNING -->
      <p><b>There’s no need to see your GP unless your warts are in a spot
        that’s bothering you, keep coming back or they’re painful.</b></p>

      <p>Don’t try to scrape off your warts and verrucas. You might get more.</p>

      <p>You can buy creams, plasters and sprays from the pharmacy to remove
        warts. However, these treatments can be painful and don’t always work.</p>

      <p><a href="http://www.nhs.uk/Conditions/Genital_warts/Pages/Introduction.aspx">
        Warts on your vulva, penis or anus</a> (genital warts) need different
        treatment.</p>

      <h2>Removing warts from your face, hands or other visible spots</h2>

      <p>Warts on your face: see your GP &mdash; they might refer you to a skin
        specialist. Don’t use wart removal creams, plasters and sprays on your
        face.</p>

      <p>Warts in other visible spots, eg your hands: your GP might freeze them
        off. They will become inflamed, then settle and then fall off a few
        weeks later. If the wart is big you might need several sessions.
        However, the warts can come back.</p>

      <h2>How to stop warts from spreading</h2>

      <ul>
        <li>wash your hands after touching a wart</li>
        <li>don’t bite your nails or suck your fingers with warts on</li>
        <li>change your socks daily if you have warts on your feet</li>
        <li>avoid cutting warts when shaving</li>
        <li>don’t share towels</li>
        <li>cover warts when swimming</li>
      </ul>

      <p><a href="http://www.nhs.uk/Conditions/Warts/Pages/Introduction.aspx">
        Medical detail about warts</a></p>

      <p><a href="http://cks.nice.org.uk/warts-and-verrucae#!background">National
        Institute for Health and Care Excellence on warts</a></p>

    </div>

  </div> <!-- end row -->

</div> <!-- content -->
{% endblock %}
