@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,700italic);
.grid-row, .header-container, .footer-container, .header-local-container {
  zoom: 1;
}
.grid-row:after, .header-container:after, .footer-container:after, .header-local-container:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.measure {
  max-width: 34em;
}

h1, .heading-xxlarge {
  margin: 0;
  padding: 14px 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 70px;
}
@media (min-width: 980px) {
  h1, .heading-xxlarge {
    font-size: 60px;
    line-height: 70px;
  }
}

h2, .heading-xlarge {
  margin: 0;
  padding: 14px 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 42px;
}
@media (min-width: 980px) {
  h2, .heading-xlarge {
    font-size: 46px;
    line-height: 56px;
  }
}

h3, .heading-large {
  margin: 0;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
@media (min-width: 980px) {
  h3, .heading-large {
    font-size: 24px;
  }
}

h4, .heading-body {
  margin: 0;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

body {
  color: #231f20;
}

.baseline {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 14px;
}

p {
  margin: 14px 0;
}

ul, ol {
  margin: 14px 0;
  padding-left: 1em;
}
ul li, ol li {
  margin: 14px 0;
  padding-left: 0;
}

a {
  color: #0072C6;
  text-decoration: underline;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 280px;
  height: 56px;
  line-height: 56px;
  padding: 0 14px;
  border: 0;
  text-align: center;
  color: #ffffff;
  background-color: #76BD18;
  cursor: pointer;
  border: 2px solid #6AAB20;
  border-radius: 0;
  -webkit-appearance: none;
}
.button:link, .button:hover, .button:focus, .button:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: #76BD18;
}
@media (min-width: 980px) {
  .button {
    width: auto;
  }
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header-container, .footer-container, .header-local-container,
.content {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 980px) {
  .header-container, .footer-container, .header-local-container,
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 980px) {
  .content {
    padding-top: 48px;
    padding-bottom: 56px;
  }
}

.grid-row {
  display: block;
  width: 100%;
}

.grid-1-2 {
  width: 50%;
  float: left;
}

.grid-2-3 {
  width: 66.6%;
  float: left;
}

.grid-1-3 {
  width: 33.3%;
  float: left;
}

.grid-3-4 {
  width: 75%;
  float: left;
}

.grid-1-4 {
  width: 25%;
  float: left;
}

.callout {
  margin: 28px 0;
  padding: 14px 30px;
}

.callout.aside {
  position: relative;
  z-index: 1;
  top: -15px;
  max-width: 34em;
  margin-top: 0;
}
@media (min-width: 980px) {
  .callout.aside {
    float: right;
    width: 240px;
    top: -80px;
    padding-top: 60px;
  }
}

.callout.emergency {
  background-color: rgba(231, 9, 16, 0.8);
}
.callout.emergency * {
  color: #ffffff;
  font-weight: 700;
}

.callout.info {
  background-color: #fffab3;
}

#global-header {
  background-color: #0072C6;
  border-bottom: 1px solid #ffffff;
}

.header-container {
  padding-top: 23px;
  padding-bottom: 23px;
}

.header-logo {
  display: block;
  float: left;
  padding: 6px 0;
}
.header-logo img {
  display: block;
}

.header-search {
  display: block;
  float: right;
}
.header-search input {
  display: none;
  box-sizing: border-box;
  float: left;
  height: 42px;
  width: 338px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #00365D;
}
@media (min-width: 480px) {
  .header-search input {
    display: block;
  }
}
.header-search button {
  box-sizing: border-box;
  float: left;
  height: 42px;
  width: 42px;
  text-indent: -999em;
  background: url("/images/icon-search.svg") center center no-repeat #00365D;
  background-size: 16px;
  border: 1px solid #00365D;
}

html {
  background-color: #f2f2f2;
}

#global-footer {
  border-top: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 80px;
}
.footer-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container nav ul li {
  display: inline;
}
.footer-container nav ul li:after {
  content: ' /';
}
.footer-container nav ul li:last-child:after {
  content: '';
}

#local-header {
  color: #ffffff;
  background-color: #0988E7;
}

.header-local-container {
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 980px) {
  .header-local-container {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
