body {
  margin: 0;
  padding: 0;
  background-color: $page-colour;
}

// Block for a layout "row" - i.e. header, content, footer
%block,
.content {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include media(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.content {
  @include media(large) {
    padding-top: 48px;
    padding-bottom: 56px;
  }
}

// Reading width
.measure {
  max-width: 34em;
}
