// Buttons
// ==========================================================================

.button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 200px;
  height: $leading*4;
  line-height: $leading*3.6; /*Do we need a mixin for this  to determine line height based on font height? */
  padding: 0 $leading;
  border: 0;
  text-align: center;
  color: $white;
  background-color: $green;
  cursor: pointer;
  border: 2px solid $dark-green;
  border-radius: 2;
  -webkit-appearance: none;
  font-weight: $bodyweight;
  letter-spacing: 1.000px;


  &:link,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    color: $white;
    background-color: $green;
  }

  @include media(large) {
    width: auto;
  }
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
