.condition-navigation {

  > .nav-list {
    font-size: 16px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    padding-left: 0;

    > .nav-item {
      list-style-position: inside;
      margin-bottom: 0;
    }

  }

}
