<div id="feedback-area">
  <form name="feedback-form-2" class="feedback-form-container" method="post">
    <div class="grid-row">
      <div class="grid-1-2">
        <h2>Thanks for your feedback</h2>
        <p>If you want to take part in further research with NHS Choices, enter your details:</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-5-12">
        <label for="volunteer-form-name">Your name</label>
        <input type="text" name="volunteer-form-name" id="volunteer-form-name">
        <label for="volunteer-form-email">Your email</label>
        <input type="text" name="volunteer-form-email" id="volunteer-form-email">
        <p class="smallprint">We will never spam you, nor share your email with others.</p>
      </div>
    </div>
    <input type="hidden" name="stage" value="volunteer-form">
    <input type="hidden" name="referrer" value="I am a referrer">
    <input type="hidden" name="page" value="{{ pagetitle }}">
    <button type="submit" class="button -submit-feedback">Send</button>
    <a href="/feedback/feedback-example" class="button -opt-out">No thanks</a>
  </form>
</div>
