.callout {
  margin: 28px 0;
  padding: 14px 30px;
}

.callout.aside {
  position: relative;
  z-index: 1;
  top: -15px;
  max-width: 34em;
  margin-top: 0;

  @include media(large) {
    float: right;
    width: 240px;
    top: -80px;
    padding-top: 60px;
  }
}

.callout.emergency {
  background-color: rgba(231, 9, 16, 0.8);

  * {
    color: $white;
    font-weight: 700;
  }
}

.callout.info {
  background-color: #fffab3;
}
