.callout {
  margin: $leading*2 0;
  padding: $leading $leading*2;
}

.callout.aside {
  position: relative;
  z-index: 1;
  top: -15px;
  max-width: 34em;
  margin-top: 0;

  @include media(large) {
    float: right;
    width: 240px;
    top: -80px;
    padding-top: $leading*2;
  }
}

.callout.emergency {
  background-color: rgba($red, 0.8);

  * {
    color: $white;
    font-weight: $heavyweight;
  }
}

.callout.info {
  background-color: rgba($yellow, 0.2);
}
