.callout {
  margin: $leading*2 0;
  padding: $leading $leading*2;
}

.callout.aside {
  position: relative;
  z-index: 1;
  top: -15px;
  max-width: 34em;
  margin-top: 0;

  @include media(large) {
    float: right;
    width: 240px;
    top: -1*$leading*5;
    padding-top: $leading*3;
  }
}

.callout.emergency {
  background-color: rgba($red, 0.8);
  font-weight: $boldweight;
  color: $white;
}

.callout.emergency a {
  color: $light-blue2;
  text-decoration: underline;
}

.callout.info {
  background-color: rgba($yellow, 0.2);
}

.callout.gp {
  padding: $leading*2;
  border: 14px solid $light-blue2;
}
