<div id="feedback-area">
  <form name="feedback-form-2" class="feedback-form-container" action="feedback-4" method="get">
    <div class="grid-row">
      <div class="grid-1-2">
        <h2>Thanks for your feedback</h2>
        <p>If you want to take part in further research with NHS Choices, enter your details:</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-5-12">
        <label for="feedback-form-name">Your name</label>
        <input type="text" name="feedback-form-name" id="feedback-form-name">
        <label for="feedback-form-email">Your email</label>
        <input type="text" name="feedback-form-email" id="feedback-form-email">
        <p class="smallprint">We will never spam you, nor share your email with others.</p>
      </div>
    </div>
    <button type="submit" class="button -submit-feedback">Send</button>
    <button type="reset" class="button -opt-out">No thanks</button>
  </form>
</div>
