{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Headache" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
      <div class="measure">
        <p class="lede">Most headaches will go away on their own and aren’t a
          sign of something more serious.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">

    <div class="grid-2-3">

      <h2 class="heading-xlarge">Treating headaches at home</h2>
      <p>You can simply wait until the headache goes away or take painkillers
        like paracetamol or ibuprofen. You can buy these over the counter.</p>
      <p>Headaches can last between 30 minutes and several hours.</p>

      <p>It will also help to:</p>
      <ul>
        <li>drink plenty of water</li>
        <li>eat regular meals</li>
        <li>sleep the same amount of hours every night</li>
      </ul>

      <hr>

      <p>Many things cause headaches, for example:</p>
      <ul>
        <li>colds and flu</li>
        <li>bad posture</li>
        <li>stress</li>
        <li>periods or menopause (hormone headaches)</li>
      </ul>

      <div class="callout gp">
        <h2 class="heading">When to see a GP:</h2>
        <ul>
          <li>you have a bad throbbing pain at the front or side of your head </li>
          <li>you feel sick, vomit and find light or noise painful</li>
          <li>
            you see flashing lights when the headache starts &mdash; this might be
            <a href="http://www.nhs.uk/Conditions/Migraine/Pages/Introduction.aspx">migraine</a>
            or <a href="http://www.nhs.uk/conditions/cluster-headaches/Pages/Introduction.aspx">cluster headaches</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="grid-1-3">

      <div class="callout aside emergency">
        <h2 class="heading">Call 999 or go to <abbr title="Accident and Emergency">A&amp;E</abbr> now if:</h2>
        <p>You hurt your head badly, eg from a fall or accident.</p>
        <p>It feels like the worst pain you’ve ever had and came on suddenly.</p>
        <p>You have a severe headache and:</p>
        <ul>
          <li>sudden problems speaking, remembering things</li>
          <li>blurred vision</li>
          <li>are feeling drowsy, confused</li>
          <li>high fever</li>
          <li>stiff neck</li>
          <li>rash</li>
          <li>redness in one of your eyes</li>
          <li>jaw pain when chewing</li>
        </ul>
      </div>

    </div>

  </div> <!-- end row -->

</div> <!-- content -->

<div class="row-blue">
  <div class="content">
    <div class="grid-row">
      <div class="grid-2-3">
        <div class="callout oneoneone">
          <h2 class="heading">Still not sure what to do?</h2>
          <p>If you need help deciding what to do next, call 111.</p>
        </div>
      </div>
    </div><!-- end row -->
  </div>
</div>
{% endblock %}
