{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Headache" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="callout aside emergency" id="callout-999">
      <div class="measure">
        <h2 class="heading-large">Call 999 now if:</h2>
        <ul>
          <li>you’ve hurt your head badly, eg deep wound from a fall or
            accident</li>
          <li>your headache came on suddenly and is very painful (like being
            hit with a brick)</li>
          <li>you have a sudden headache after: coughing, laughing, sneezing,
            changing posture, exercise &mdash; a blood vessel might have burst
            in your brain</li>
          <li>you suddenly have problems speaking, can’t remember things, feel
            drowsy, confused</li>
          <li>you have other symptoms like: high fever, stiff neck, a rash, jaw
            pain when chewing, vision problems, redness in one of your eyes</li>
        </ul>
      </div>
    </div>

    <div class="measure">

      <h2 class="heading-large" id="#what-you-can-do-about-heachaches">What you
        can do about heachaches</h2>

      <p>Most headaches will go away after a few hours. They aren’t a sign of
        something more serious.</p>
      <p>You can simply wait until the headache goes away or get painkillers
        like paracetamol or ibuprofen at the pharmacy.</p>

      <div class="callout info">
        <p>Don’t take more painkillers than it says on the package. Taking
          them too often can make your headache worse.</p>
      </div>

      <p>This will also help with your headache:</p>
      <ul>
        <li>drink enough water</li>
        <li>eat regular meals</li>
        <li>roughly sleep the same amount of hours every night &mdash; too much
          or too little sleep can cause headaches</li>
        <li>avoid things that stress you where possible</li>
      </ul>

      <h2 class="heading-large">Check what kind of headache you have</h2>

      <h3 class="heading-body">Whole head aching and tight feeling</h3>

      <p>Normal headaches feel like your whole head is aching and has a tight
        band wrapped around it. They can last between 30 minutes and several
        hours.</p>
      <p>They’re also called “tension headaches”.</p>

      <p>You can get them, for example, because of:</p>
      <ul>
        <li>not eating or drinking enough water</li>
        <li>stress</li>
        <li>bad posture</li>
        <li>cold and flu</li>
        <li>inflamed sinuses &mdash; you’ll feel sharp pain behind the root of
          your nose or below both eyes</li>
      </ul>

      <p>To treat them, check above <a href="#what-you-can-do-about-heachaches">
        what you can do about headaches.</a></p>

      <h3 class="heading-body">Bad pain and feeling sick</h3>

      <p>A very bad, throbbing at the front or side of the head can be a
        migraine.</p>
      <p>You might also feel sick, vomit and find light or noise painful. Some
        migraines start with seeing flashing lights.</p>

      <div class="callout info">
        <p><a href="#callout-999">Check if you have any symptoms that might be
          an emergency.</a></p>
      </div>

      <p>The Migraine Trust has <a href="http://www.migrainetrust.org/">
        information about types or migraine and treatments.</a></p>
      <p>See your GP for bad migraines.</p>

      <div>
        [Book a GP appointment]
      </div>

      <h3 class="heading-body">Headache attacks at certain times of the year</h3>

      <p>Some headaches come in attacks at a certain time of year. They’re very
        painful. You might also have bad pain around one eye, watering or red
        eyes and a runny nose.</p>
      <p>These are called “cluster headaches” and are much less common than
        everyday headaches.</p>

      <p>You should see your GP if you have these kinds of attacks.</p>
      <div>
        [Book a GP appointment]
      </div>

      <h3 class="heading-body">Taking the pill, period or menopause</h3>

      <p>Some women also get headaches when they’re on the pill or during their
        period or menopause.</p>

      <p>To treat them, check above <a href="#what-you-can-do-about-heachaches">
        what you can do about headaches.</a></p>

    </div>

  </div>
{% endblock %}
