{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Headache" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="callout aside emergency" id="callout-999">

      <div class="measure">

        <h2 class="heading-large">Call 999 if you have any of these:</h2>

        <ul>
          <li>you hurt your head badly, e.g. deep wound from a fall or accident</li>
          <li>your headache came on suddenly and is very painful (like being
            hit with a brick)</li>
          <li>your headache is like the worst pain you’ve ever had and came on very suddenly, especially after: coughing, laughing, sneezing, changing posture or exercising</li>
          <li>you suddenly have problems speaking, can’t remember things, feel
            drowsy, confused</li>
          <li>You have a severe headache and:

            <ul>
                <li>sudden problems speaking, remembering things</li>
                <li>blurred vision</li>
                <li>feeling drowsy, confused</li>
                <li>high fever</li>
                <li>stiff neck</li>
                <li>rash</li>
                <li>redness in one of your eyes</li>
                <li>jaw pain when chewing</li>
            </ul>

          </li>
        </ul>

      </div>
    </div>

    <div class="measure">

      <h2 class="heading-xlarge" id="#what-you-can-do-about-heachaches">Treating headaches at home</h2>

      <p>Most headaches will go away on their own and aren’t a sign of something more serious.</p>
      <p>You can simply wait until the headache goes away or get painkillers like paracetamol or ibuprofen at the pharmacy.</p>

      <!--  
      <div class="callout info">
        <p>Don’t take more painkillers than it says on the package. Taking
          them too often can make your headache worse.</p>
      </div>
      -->

      <p>This will also help with your headache:</p>

      <ul>
        <li>drink enough water</li>
        <li>eat regular meals</li>
        <li>sleep the same amount of hours every night</li>
      </ul>

      <p>Headaches can last between 30 minutes and several hours.</p>

      <p>You can get headaches because of something else, eg cold, flu, bad posture. <a href="http://www.nhs.uk/Conditions/stress-anxiety-depression/Pages/reduce-stress.aspx">Stress</a> and life events that cause stress can also be a reason why you have headaches. </p>

      <p>Some women get headaches when they’re on the pill or during their period or menopause. </p>


      <div class="measure">

        <div class="callout gp">

        <h3 class="heading-large">When to see your GP</h3>

        <p>See your GP if:</p>

        <ul>
          <li>you have a bad throbbing pain at the front or side of your head </li>
          <li>you feel sick, vomit and find light or noise painful</li>
          <li> you see flashing lights when the headache starts</li>
        </ul>

        <div>
          <a href="#" class="button">Book a GP appointment</a>
        </div>

      </div>

    </div>


    </div>

  </div>
{% endblock %}
