{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Rashes in babies and children" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
      <div class="measure">
        <p>Many illnesses in children cause a rash.  Even though some may take a while to clear up, many rashes in children are nothing to worry about</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="callout aside emergency">
      <div class="measure">
        <h2 class="heading-large">Call 999 now if you:</h2>
        <ul>
          <li>have sudden, bad stomach pain, especially if it’s in one place</li>
          <li>are vomiting blood</li>
          <li>have bloody stool</li>
          <li>are in pain when you touch your stomach</li>
        </ul>
        <p>
          You need help now because it could be something serious like
          appendicitis or a stomach ulcer.
        </p>
      </div>
    </div>

    <div class="measure">

      <h2 class="heading-xlarge ">Rash with no other symptoms</h2>

      <div class = "image-module">
         <img src="/images/rashes/rashes-milia.png" alt="Image of rash of milia" width="300" height="227" />
         <div class="image-description">
          <h4>White spots in babies</h4>
          <p>
            Small white spots (milia) often appear on a baby’s face when they are a few days old. They usually clear up within a few weeks and don’t need treatment.  
          </p>
         </div>
      </div>

      <div class = "image-module">
         <img src="/images/rashes/rashes-milia.png" alt="Image of rash of milia" width="300" height="227" />
         <div class="image-description">
          <h4>Raised red, yellow and white spots in babies</h4>
          <p>
            Raised red yellow and white spots can appear on babies within a few hours of them being born. They’re usually on the face, in the middle of the body and the upper arms and thighs.
          </p>
          <p>
            The rash can disappear and reappear. It’s known as erythema toxicum
          </p>
          <p>
            It should clear up in a week or two without treatment. 
          </p>
         </div>
       </div>

      <div class = "image-module">
         <img src="/images/rashes/rashes-milia.png" alt="Image of rash of milia" width="300" height="227" />
         <div class="image-description">
          <h4>Red and yellow spots on baby’s face</h4>
          <p>
            Raised, red and yellow spots often appear on a baby’s face when they are a few weeks old.  This is known as baby acne. 
          </p>
          <p>
            It usually goes away after a few weeks and doesn’t need treatment.  
          </p>
          <p>
            Speak to your GP if it lasts longer than 3 months. 
          </p>
         </div>
       </div>


      <div class = "image-module">
         <img src="/images/rashes/rashes-milia.png" alt="Image of rash of milia" width="300" height="227" />
         <div class="image-description">
          <h4>Pink or skin coloured spots</h4>
          <p>
           Small, firm, raised spots that can appear anywhere on the body are common in children and known as molluscum contagiosum
          </p>
          <p>
            Treatment isn’t recommended as the spots clear up, although it can take over a year. It’s infectious so you should avoid squeezing or scratching the spots and keep them covered with clothing if possible. 
          </p>
         </div>
       </div>

      <div class = "image-module">
         <img src="/images/rashes/rashes-milia.png" alt="Image of rash of milia" width="300" height="227" />
         <div class="image-description">
          <h4>Nappy rash</h4>
          <p>
           Nappy rash can be red patches on your baby’s bottom, or the whole nappy area.  The skin may look sore and feel hot. There may be spots or blisters. Your child may feel uncomfortable or distressed if the rash is bad.
          </p>
          <p>
            You can buy creams from your pharmacy to help clear it up.  You should also change the nappy regularly and as soon as your baby has done a poo.
          </p>
         </div>
       </div>


    </div>

    </div>

  </div>

{% endblock %}
