{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Rashes in babies and children" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
      <div class="measure">
        <p class="lede">Many things can cause a rash in children and they’re often nothing to worry about.</p>
        <ul class="link-list">
          <li><a href="#fever">Rash with fever</a></li>
          <li><a href="#itching">Rash with itching</a></li>
          <li><a href="#none">Rash without fever or itching</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="callout aside emergency">
      <div class="measure">
        <h3 class="heading-large">Call 999 or go to your nearest A&amp;E if your child has a rash and they:</h3>
        <ul>
          <li>have a stiff neck</li>
          <li>are bothered by light</li>
          <li>seem confused</li>
          <li>are shaking uncontrollably</li>
          <li>have a fever you can’t control</li>
          <li>have a rash that doesn’t fade when you press a <a href="#">glass against it</a></li>
        </ul>
        <p>These can be signs of <a href="http://www.nhs.uk/conditions/Meningitis/Pages/Introduction.aspx">meningitis</a>.</p>
      </div>
    </div>

    <!-- Rashes with gp call out -->

      
      <div class="measure">
        <div class="callout gp">
        <h3 class="heading-large">When to see a GP</h3>
        <p>If your child seems unwell with a rash and has a fever call 111 or speak to your GP.</p>
        <div>
          <a href="#" class="button">Book a GP appointment</a>
        </div>
      </div>
    </div>


    <div class="measure">
      <p>The information below shouldn’t be used to self-diagnose your child’s condition, but it should give you a better idea of what is causing the rash. </p>
    </div>

    <!-- Rashes with Fever -->

    <div class="content-section measure">

        <h2 class="heading-xlarge on-white"><a name="fever">Rash with fever</a></h2>

        <div class="image-module">
            <img src="/images/rashes/rashes-fever.png" alt="Image of rash on cheeks" width="301" height="174"/>
            <div class="image-description">
                <h4>Fever and red cheeks</h4>
                <p>
                  A fever with bright red rash on both cheeks can be <a href="http://www.nhs.uk/conditions/slapped-cheek-syndrome/Pages/Introduction.aspx">slapped cheek syndrome</a>. It may seem like your child has a cold and the rash may spread to the body. 
                </p>
                <p>
                  It usually clears up within a week. Children’s paracetamol can bring down a fever.
                </p>
            </div>
        </div>

        <div class="image-module">
            <img src="/images/rashes/rashes-chickenpox.png" alt="Image of chickenpox" width="300" height="221"/>
            <div class="image-description">
                <h4>Small spots and blisters</h4>
                <p>
                  <a href="http://www.nhs.uk/conditions/chickenpox/Pages/Introduction.aspx">Chickenpox</a> causes red spots that turn to blisters.  They can be itchy.  They eventually scab and fall off.  Some children have a few spots, while others have them all over their body.
                </p>
            </div>
        </div>

        <div class="image-module">
            <img src="/images/rashes/rashes-handfootmouth.png" alt="Image of hand, showing rash from hand foot and mouth" width="300" height="218"/>
            <div class="image-description">
                <h4>Blisters on hands and feet and in the mouth. </h4>
                <p>
                  A common childhood illness that causes blisters on the hands and feet and ulcers on the tongue, is <a href="http://alpha.nhs.uk/hand-foot-and-mouth-diseas">hand, foot and mouth disease</a>. It also causes a fever and your child may seem like they have a cold. 
                </p>
                <p>
                  It usually clears up in about a week. Children’s paracetamol can bring down a fever. 
                </p>
            </div>
        </div>

        <div class = "image-module">
            <img src="/images/rashes/rashes-scarlet.png" alt="Image of scarlet fever rash" width="301" height="195"/>
            <div class="image-description">
                <h4>Pink, red rash</h4>
                <p>
                  <a href="http://www.nhs.uk/Conditions/Scarlet-fever/Pages/Introduction.aspx">Scarlet fever </a> causes a pink-red rash, which feels like sandpaper and looks like sunburn (although it’s not always in areas exposed to the sun).
                </p>
                <p>
                  It usually starts with a sore throat, headache, fever and a swollen tongue.
                </p>
                <p>
                  See your GP straight away if you suspect scarlet fever. It’s treated with antibiotics.
                </p>  
            </div>
        </div>
        
    </div>


    <!-- Rashes with Itching -->

    <div class="content-section measure">

        <h2 class="heading-xlarge on-white"><a name="itching">Rash with itching</a></h2>

        <div class="image-module">
            <img src="/images/rashes/rashes-heat.png" alt="Image of heat rash" width="301" height="227"/>
            <div class="image-description">
                <h4>Rash caused by heat</h4>
                <p>
                  Heat and sweat can cause small, red spots known as prickly heat or <a href="http://www.nhs.uk/conditions/Prickly-heat/Pages/Introduction.aspx">heat rash</a>. They're itchy so you may notice your baby scratching. 
                </p>
                <p>
                  This should clear up without treatment.  A cool bath and loose cotton clothes may help.
                </p>
            </div>
        </div>

        <div class="image-module">
            <img src="/images/rashes/rashes-eczma.png" alt="Image of eczma rash" width="301" height="200"/>
            <div class="image-description">
                <h4>Red scaly skin or cracked skin</h4>
                <p>
                  Skin which is itchy, red, dry and cracked may be <a href="http://www.nhs.uk/conditions/Eczema-(atopic)/Pages/Introduction.aspx">eczema</a>. It usually affects skin where it folds, such as behind the knees and elbows and the neck, but can appear anywhere.
                </p>
                <p>
                  Speak to your GP if you think your child has eczema.
                </p>
            </div>
        </div>

        <div class="image-module">
            <img src="/images/rashes/rashes-hives.png" alt="Image of rash from hives" width="300" height="222"/>
            <div class="image-description">
                <h4>Raised itchy spots</h4>
                <p>
                  A raised, red, itchy rash (<a href="http://www.nhs.uk/conditions/Nettle-rash/Pages/Introduction.aspx">hives</a>) can appear as an allergic reaction to things like stings, medicines or food. 
                </p>
                <p>
                  It usually clears up within a day or two.  
                </p>
                <p>
                  Speak to your GP if your child keeps getting this type of rash. They may be allergic to something. 
                </p>  
            </div>
        </div>

        <div class="image-module">
            <img src="/images/rashes/rashes-ringworm.png" alt="Image of rash of from ringworm" width="301" height="221"/>
            <div class="image-description">
                <h4>Itchy, round rash</h4>
                <p>
                  An itchy, ring-like rash can be <a href="http://www.nhs.uk/Conditions/Ringworm/Pages/Introduction.aspx">ringworm</a>
                </p>
                <p>
                  Ask your pharmacist for a cream or lotion to treat ringworm.
                </p>
                <p>
                  If it appears on your child’s scalp, speak to your GP, as it may need to be treated with medicine.
                </p>  
            </div>
        </div>

    </div>        

    <!-- Rash without fever or itching -->

    <div class="content-section measure">

          <h2 class="heading-xlarge on-white"><a name="none">Rash without fever or itching</a></h2>

          <div class="image-module">
              <img src="/images/rashes/rashes-milia.png" alt="Image of milia rash" width="300" height="227"/>
              <div class="image-description">
                  <h4>White spots in babies</h4>
                  <p>
                    Small white spots (milia) often appear on a baby’s face when they are a few days old. They usually clear up within a few weeks and don’t need treatment.  
                  </p>
              </div>
          </div>

          <div class="image-module">
              <img src="/images/rashes/rashes-erythema-1.png" alt="Image of red, yellow and white spots on a baby cheeks" width="300" height="225" />
              <div class="image-description">
                  <h4>Red, yellow and white spots in babies</h4>
                  <p>
                    Raised red yellow and white spots can appear on babies within a few hours of them being born. They’re usually on the face, in the middle of the body and the upper arms and thighs.
                  </p>
                  <p>
                    The rash can disappear and reappear. It’s known as <a href="http://www.nhs.uk/conditions/erythema-multiforme/Pages/Introduction.aspx">erythema toxicum</a>
                  </p>
                  <p>
                    It should clear up in a week or two without treatment. 
                  </p>
            </div>
           </div>

          <div class="image-module">
              <img src="/images/rashes/rashes-erythema-2.png" alt="IImage of red, yellow and white spots on a babies face" width="300" height="264" />
              <div class="image-description">
                  <h4>Red and yellow spots on baby’s face</h4>
                  <p>
                    Raised, red and yellow spots often appear on a baby’s face when they are a few weeks old.  This is known as baby acne. 
                  </p>
                  <p>
                    It usually goes away after a few weeks and doesn’t need treatment.
                  </p>
                  <p>
                    Speak to your GP if it lasts longer than 3 months. 
                  </p>
              </div>
           </div>

          <div class="image-module">
              <img src="/images/rashes/rashes-molluscum.png" alt="Image of pink colured spot rash" width="301" height="208" />
              <div class="image-description">
                  <h4>Pink or skin coloured spots</h4>
                  <p>
                   Small, firm, raised spots that can appear anywhere on the body are common in children and known as <A href="http://www.nhs.uk/Conditions/Molluscum-contagiosum/Pages/Introduction.asp">molluscum contagiosum</a>
                  </p>
                  <p>
                    Treatment isn’t recommended as the spots clear up, although it can take over a year. It’s can spread so don’t squeeze or scratch the spots and keep them covered with clothing if possible.
                  </p>
              </div>
          </div>

          <div class="image-module">
              <img src="/images/rashes/rashes-nappy.png" alt="Image of nappy rash" width="300" height="221" />
              <div class="image-description">
                  <h4>Red patches on baby’s bottom</h4>
                  <p>
                  <a href="http://www.nhs.uk/Conditions/pregnancy-and-baby/Pages/Nappy-rash.aspx">Nappy rash</a> can be red patches on your baby’s bottom, or the whole nappy area.  The skin may look sore and feel hot. There may be spots or blisters. Your child may feel uncomfortable or distressed if the rash is bad.
                  </p>
                  <p>
                  You can buy creams from your pharmacy to help clear it up.  You should also change the nappy regularly and as soon as your baby has done a poo.
                  </p>
              </div>
           </div>

      </div>

  </div>


{% endblock %}
