{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Rashes in babies and children" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
      <div class="measure">
        <p>Many illnesses in children cause a rash.  Even though some may take a while to clear up, many rashes in children are nothing to worry about</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="callout aside emergency">
      <div class="measure">
        <h2 class="heading-large">Call 999 now if you:</h2>
        <ul>
          <li>have sudden, bad stomach pain, especially if it’s in one place</li>
          <li>are vomiting blood</li>
          <li>have bloody stool</li>
          <li>are in pain when you touch your stomach</li>
        </ul>
        <p>
          You need help now because it could be something serious like
          appendicitis or a stomach ulcer.
        </p>
      </div>
    </div>

    <div class="measure">

      <h2 class="heading-xlarge ">Rash with no other symptoms</h2>

      <p>
        Small white spots (milia) often appear on a baby’s face when they are a few days old. They usually clear up within a few weeks and don’t need treatment.  
      </p>


    </div>

  </div>
{% endblock %}
