{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Stomach ache" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

        <h2 class="heading-xlarge">Treating stomach ache at home</h2>

        <p>Speak to your pharmacist about medicine to help with:</p>

        <ul>
          <li>feeling bloated (trapped wind)</li>
          <li>indigestion (feeling full, sick, maybe bringing up food)</li>
          <li>constipation (can’t poo)</li>
        </ul>

        <p>There are also things you can do yourself to <a href="#">help with
          bloating, indigestion and constipation</a></p>

        <div class="callout gp">

          <h2 class="heading">When to see a GP:</h2>
          <ul>
            <li>the pain gets much worse in a short space of time</li>
            <li>the pain or bloating won’t go away or keeps coming back</li>
            <li>you have other symptoms like weight loss or vomiting</li>
          </ul>

          <div>
            <a href="#" class="button">Book a GP appointment</a>
          </div>

        </div>

        <h2 class="heading-xlarge">Vomiting and diarrhoea</h2>

        <p>You might also vomit or have diarrhoea with your stomach ache.</p>
        <p>This isn’t usually anything serious and will go away after a few days.</p>

        <p>
          There are things you can do yourself to help with 
          <a href="http://www.nhs.uk/conditions/vomiting-adults/Pages/Introduction.aspx">
          vomiting</a> and <a href="http://www.nhs.uk/Conditions/Diarrhoea/Pages/Treatment.aspx">
          diarrhoea.</a>
        </p>

      </div>

      <div class="grid-1-3">

        <div class="callout aside emergency">
          <h2 class="heading">Call 999 or go to <abbr title="Accident and Emergency">A&amp;E</abbr> now if you:</h2>

          <ul>
            <li>have sudden, bad stomach pain</li>
            <li>have pain when you touch your stomach</li>
            <li>are vomiting blood</li>
            <li>have blood in your poo</li>
            <li>have collapsed</li>
            <li>can’t breathe</li>
            <li>are not peeing at all</li>
            <li>have an ongoing serious illness</li>
            <li>are diabetic</li>
          </ul>

        </div>

      </div>

    </div><!-- end row -->

  </div>

  <div class="row-blue">
    <div class="content">
      <div class="grid-row">
        <div class="grid-2-3">
          <div class="callout oneoneone">
            <h2 class="heading">Still not sure what to do?</h2>
            <p>If you need help deciding what to do next, telephone 111 or visit <a href="http://nhs111-web-prototypes-integration.azurewebsites.net/prototypes/IPMB/search/">111 online.</a></p>
          </div>
        </div>
      </div><!-- end row -->
    </div>
  </div>


{% endblock %}
