{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Stomach ache" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  
  <div class="content">

      <div class="grid-row">

          <div class="grid-1-3 f-right">

              <div class="callout aside emergency" id="callout-999">

                    <h2 class="heading">Call 999 if you have any of these:</h2>

                    <ul>
                        <li>sudden, bad stomach pain</li>
                        <li>pain when you touch your stomach</li>
                        <li>vomiting blood</li>
                        <li>blood in your poo</li>
                        <li>you collapsed</li>
                        <li>can’t breathe</li>
                        <li> not peeing at all</li>
                        <li>you have an ongoing serious illness</li>
                        <li>you’re diabetic</li>
                    </ul>

                </div>

          </div>

          <div class="grid-2-3">

              <h2 class="heading-xlarge" id="#what-you-can-do-about-heachaches">Treating stomach ache at home</h2>

              <p>Your pharmacist can give you medicine to help with:</p>

              <ul>
                  <li>feeling bloated</li>
                  <li>indigestion - feeling full, heavy, sick, maybe bringing up food</li>
                  <li>constipation</li>
              </ul>

              <p>There are also things you can do yourself to <a href="#">help with bloating, indigestion and constipation</a></p>

              <h2 class="heading-lxarge">Vomiting and diarrhoea</h2>

              <p>You might also vomit or have with your stomach ache.</p>

              <p>There are things you can do yourself to help with <a href="http://www.nhs.uk/conditions/vomiting-adults/Pages/Introduction.aspx">vomiting</a> and <a href="http://www.nhs.uk/Conditions/Diarrhoea/Pages/Treatment.aspx">diarrhoea</a>.</p>

              <p>This isn’t usually anything serious and will go away after a few days.  If it doesn’t or you feel much worse, you should <a href="#">speak to your GP</a></p>

          </div>

          <div class="grid-2-3">

               <div class="callout gp">

                    <h3 class="heading-large">When to see a GP</h3>
                    <p>If your child seems unwell with a rash and has a fever call 111 or speak to your GP.</p>
                
                    <div>    
                        <a href="#" class="button">Book a GP appointment</a>
                    </div>

                </div>

          </div>

      </div><!-- end row -->

  </div>


{% endblock %}
