{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Stomach ache" %}

{% block localheader %}
  <div id="local-header">
    <div class="header-local-container">
      <h1>{{ pagetitle }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content baseline">

    <div class="callout aside emergency">
      <div class="measure">
        <h2 class="heading-large">Call 999 now if you:</h2>
        <ul>
          <li>have sudden, bad stomach pain, especially if it’s in one place</li>
          <li>are vomiting blood</li>
          <li>have bloody stool</li>
          <li>are in pain when you touch your stomach</li>
        </ul>
        <p>
          You need help now because it could be something serious like
          appendicitis or a stomach ulcer.
        </p>
      </div>
    </div>

    <div class="measure">

      <h3 class="heading-large">Check how bad it is and how long you’ve had it for</h3>

      <p>
        Stomach pain can feel different for everyone. You might describe it as:
      </p>
      <ul>
        <li>sharp</li>
        <li>stabbing</li>
        <li>crampy</li>
        <li>colicky</li>
        <li>dull</li>
      </ul>

      <p>
        Check if you have anything else with your stomach ache (see below) and
        what to do about it.
      </p>
      <p>
        Often stomach pain goes away on its own after a few hours.
      </p>
      <p>
        If it doesn’t or it gets much worse in a short space of time, you should
        see your GP.
      </p>

      <h3 class="heading-large">You feel bloated or can’t go to the toilet</h3>

      <p>
        You can get stomach pain when:
      </p>
      <ul>
        <li>you feel bloated</li>
        <li>your body finds it hard to digest food (indigestion)</li>
        <li>you can’t go to the toilet (constipation)</li>
      </ul>

      <p>
        You can get medicine from your pharmacy to help with these problems.
      </p>
      <p>
        Some foods might make you feel bloated or give you indigestion. Write
        down what you eat every day to find out what might make you feel worse.
        Cut down on those foods.
      </p>
      <p>
        Movement can help with constipation, eg walking faster than normal for 20
        minutes a day.
      </p>

      <h3 class="heading-large">You are vomiting or have diarrhoea</h3>

      <p>
        If you have stomach ache and are also vomiting or have diarrhoea, you
        might have a tummy bug or food poisoning. This usually goes away after a
        few days.  
      </p>
      <p>
        If it doesn’t go away or you feel worse, see your GP.
      </p>

      <h3 class="heading-large">You’ve had stomach ache for a while </h3>

      <p>
        There can be many reasons for this and you should go and see your GP.
      </p>

      <p>
        <a href="#">Book a GP appointment</a>
      </p>

    </div>

  </div>
{% endblock %}
