{% extends "_layouts/_layout-type-frutiger.html" %}

{% set pagetitle = "Type Sampler - Frutiger" %}

{% block localheader %}

{% endblock %}

{% block content %}

<div class="content">

  <div class="grid-row">

    <div class="grid-2-3">

      <h1>Heading 1</h1>
      <h1>Heading that Runs Over Two lines</h1>
      <hr />
      <h2>Heading 2</h2>
      <h2>Heading that Runs Over Two lines if it is long enough</h2>
      <hr />
      <h3>Heading 3</h3>
      <h3>Heading that Runs Over Two lines if it is long enough</h3>
      <hr />
      <h4>Heading 4</h4>
      <h4>Heading that Runs Over Two lines if it is long enough</h4>
      
      <p>There are also things you can do yourself to <a href="http://www.nhs.uk/conditions/Indigestion/Pages/Introduction.aspx">
      help ease indigestion</a> and <a href="http://www.nhs.uk/Conditions/Constipation/Pages/Introduction.aspx">
      constipation</a></p>

      <p>If you have vomiting and diarrhoea with your stomach ache, it should
      stop after a few days. Try to drink a lot of fluids to avoid
      dehydration.</p>

      <p>Painkillers like paracetamol or ibuprofen can help with your stomach
      ache but won’t stop any vomiting and diarrhoea.</p>

      <p>Speak to your pharmacist about medicine to help with:</p>

      <hr />

      <ul>
        <li>feeling bloated (trapped wind)</li>
        <li>indigestion (burning pain after eating, maybe bringing up food)</li>
        <li>constipation (can’t poo)</li>
        <ul>
            <li>feeling bloated (trapped wind)</li>
            <li>indigestion (burning pain after eating, maybe bringing up food)</li>
            <li>constipation (can’t poo)</li>
        </ul>
      </ul>

      <hr />

      <ol>
        <li>feeling bloated (trapped wind)</li>
        <li>indigestion (burning pain after eating, maybe bringing up food)</li>
        <li>constipation (can’t poo)</li>
        <ol>
            <li>feeling bloated (trapped wind)</li>
            <li>indigestion (burning pain after eating, maybe bringing up food)</li>
            <li>constipation (can’t poo)</li>
        </ol>
      </ol>

    </div>


  </div> <!-- end row -->

</div> <!-- content -->

{% endblock %}
