// NHS Colour palette, from http://www.nhsidentity.nhs.uk/
$pure-black: #000000;
$black: #231f20;
$white: #ffffff;


$blue: #0072C6;
$dark-blue: #00365D;
$light-blue: #0988E7;
$yellow: #FFED00;
$red: #E70910;
$green: #76BD18;
$dark-green: #6AAB20;

$grey: #e6e6e6;
$light-grey: #f2f2f2;


// Semantic colour names
$nhs-blue: $blue;

$page-colour: $white;
$text-colour: $black;

$link-colour: $blue;
$focus-colour: $yellow;
