// NHS Colour palette, from http://www.nhsidentity.nhs.uk/
$pure-black: #000000;
$black: #231f20;
$white: #ffffff;

/* 

these should be a scale of tint: blue00, blue10...blue70.... 
i.e. NHS is blue50 as thats a median point, and if we add dark or light tints, 
we can add other blues, named like blue40 (for a lighter blue) or blue60 for a darker blue.

*/

$blue: #0072C6;
$dark-blue: #00365D;
$light-blue: #0988E7; 
$light-blue2: #66B0E8; 
$light-blue3: #70C1FF;

$yellow: #FFED00;
$red: #E70910;
$green: #76BD18;
$dark-green: #6AAB20;

$grey: #e6e6e6;
$light-grey: #f2f2f2;


$hr-white-30: rgba(white, 0.3);


// Semantic colour names
$nhs-blue: $blue;

$page-colour: $white;
$header-bottom-margin: $hr-white-30;
$text-colour: $black;

$link-colour: $blue;
$focus-colour: $yellow;
