@font-face {
  font-family: 'FS Me';
  src: url('/fonts/FSMeWeb-Light.woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FS Me';
  src: url('/fonts/FSMeWeb-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FS Me';
  src: url('/fonts/FSMeWeb-Bold.woff');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'FS Me';
  src: url('/fonts/FSMeWeb-Heavy.woff');
  font-weight: 800;
  font-style: bold;
}

$body: 20px;
$leading: 16px;
$family: "FS Me", sans-serif;
$lightweight: 200;
$bodyweight: 400;
$boldweight: 600;
$heavyweight: 800;
$smallprint: 14px;
$feedback: 16px;
$callout: 18px;

body {
  font-family: $family;
  font-weight: $lightweight;
  font-size: $body;
  line-height: $leading*2;

  @include media(640px) {
      font-weight: $bodyweight;
  }
}

// Reading width
.measure {
  max-width: 34em;
}

h1 {
  margin: $leading 0;
  font-size: 40px;
  font-weight: $boldweight;
  line-height: $leading*3;

  @include media(mid) {
    font-size: 48px;
    line-height: $leading*4;
    letter-spacing: -0.02em;
  }

  @include media(large) {
    font-size: 64px;
    line-height: $leading*5;
  }
}

h2 {
  margin: $leading 0;
  font-weight: $boldweight;
  line-height: $leading*2.5;
  font-size: 28px;

  @include media(mid) {
    font-size: 32px;
    line-height: $leading*3;
  }

  @include media(large) {
    font-size: 36px;
    line-height: $leading*3;
  }
}

h3 {
  margin: $leading 0;
  font-size: 24px;
  font-weight: $boldweight;
  line-height: $leading*2;
}

h4 {
  margin: $leading 0;
  font-size: $body;
  font-weight: $boldweight;
  line-height: $leading*2;
}

p {
  letter-spacing: 0.01em;
}

p.lede {
  margin: 0 0 $leading*2 0;
  font-size: $body;
  letter-spacing: 0.03em;
  line-height: $leading*2;
  font-weight: $lightweight;
  color: $light-blue3;

}

.smallprint {
  font-size: $smallprint;
  color: $smallprint-grey;
}
