@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,700italic);

$body: 18px;
$leading: 14px;
$family: "Lato", sans-serif;
$bodyweight: 300;
$boldweight: 400;
$heavyweight: 700;

body {
  font-family: $family;
  font-weight: $bodyweight;
  font-size: $body;
  line-height: $leading*2;
}

// Reading width
.measure {
  max-width: 34em;
}

h1 {
  margin: 0;
  padding: 0 0 $leading 0;
  font-size: 56px;
  font-weight: $heavyweight;
  line-height: $leading*5;
  letter-spacing: 0.008em;

  @include media(large) {
    font-size: 60px;
    line-height: $leading*5;
  }
}

h2 {
  margin: 0;
  padding: 0 0 $leading 0;
  font-size: 26px;
  font-weight: $heavyweight;
  line-height: $leading*3;
  letter-spacing: 0.008em;

  @include media(large) {
    font-size: 40px;
    line-height: $leading*4;
  }
}

h2.on-white {
  color: $blue;
}

h3 {
  margin: 0;
  padding: 0 0 $leading 0;
  font-size: 24px;
  font-weight: $heavyweight;
  line-height: $leading*2;
  letter-spacing: 0.016em;

  @include media(large) {
    font-size: 24px;
  }
}

h4 {
  margin: 0;
  padding: 0 0 $leading 0;
  font-size: $body;
  font-weight: $boldweight;
  line-height: $leading*2;
  letter-spacing: 0.016em;
}


/* Lato specific font formtting */

p {
  letter-spacing: 0.019em;
}

p.lede {
  margin: 0;
  padding: 0 0 $leading*2 0;
  font-size: 20px;
  letter-spacing: 0.016em;
  line-height: $leading*2.5;
  font-weight: $bodyweight;
  color: $light-blue3;

  @include media(large) {
    font-size: 24px;
  }
}

/* _callout.scss stylings specific to lato */

.callout p {
  font-weight: $bodyweight;
}

.callout.emergency li {
  font-weight: $bodyweight;
  letter-spacing: 0.029em;
  line-height: $leading*1.8;
}

.callout h3 {
  letter-spacing: 0.038em;
}



.button {
  font-weight: $boldweight;
}
