@font-face {
  font-family: 'New Rail';
  src: url('/fonts/NewRailAlphabet-LightWEB.woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'New Rail';
  src: url('/fonts/NewRailAlphabet-MediumWEB.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'New Rail';
  src: url('/fonts/NewRailAlphabet-BoldWEB.woff');
  font-weight: 600;
  font-style: bold;
}

$body: 17px;
$leading: 12px;
$family: "New Rail", sans-serif;
$bodyweight: 200;
$boldweight: 400;
$heavyweight: 600;

body {
  font-family: $family;
  font-weight: $bodyweight;
  font-size: $body;
  line-height: $leading*2;
}

// Reading width
.measure {
  max-width: 34em;
}

h1 {
  margin: 0; padding: $leading 0;
  font-size: 54px;
  font-weight: $bodyweight;
  line-height: $leading*5;

  @include media(large) {
  }
}

h2 {
  margin: 0; padding: $leading 0;
  font-size: 30px;
  font-weight: $bodyweight;
  line-height: $leading*3;

  @include media(large) {
  }
}

h3 {
  margin: 0; padding: $leading 0;
  font-size: 23px;
  font-weight: $bodyweight;
  //line-height: $leading*2;
  line-height: 30px;

  @include media(large) {
  }
}

h4 {
  margin: 0; padding: $leading 0;
  font-size: $body;
  font-weight: $bodyweight;
  line-height: $leading*2;
}
