#local-header {
  color: $white;
  background-color: $dark-blue2; /* $light-blue;*/
}

.header-local-container {
  @extend %block;
  @extend %contain-floats;

  padding-top: $leading*2;
  padding-bottom: $leading;

  @include media(640px) {
    padding-top: $leading*4;
    padding-bottom: $leading*1;
  }

  @include media(large) {
    padding-top: $leading*8;
    padding-bottom: $leading*2;
  }
}

.header-local-container a {
  color: $white;
}

.header-local-container a:visited {
  color: $visited-link-colour-on-blue;
}
