#local-header {
  color: $white;
  background-color: #0988E7;
}

.header-local-container {
  @extend %block;
  @extend %contain-floats;

  padding-top: 35px;
  padding-bottom: 35px;

  @include media(large) {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
