#local-header {
  color: $white;
  background-color: $light-blue;
}

.header-local-container {
  @extend %block;
  @extend %contain-floats;

  padding-top: $leading*2;
  padding-bottom: $leading*2;

  @include media(large) {
    padding-top: $leading*8;
    padding-bottom: $leading*3;
  }
}


.header-local-container a {
  color: $white;
}
