{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Getting therapy - Depression and anxiety - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Depression and anxiety<!-- {{ pagetitle }} --></h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="how-to-tell-if-you-have-it">How to tell if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="seeking-help">Seeking help</a>
              </li>
              <li class="nav-item">
                 Getting therapy
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  <a href="managing-depression-and-anxiety">Managing depression and anxiety</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="getting-therapy">Getting therapy</h2>

          <p>You can get talking therapies on the NHS (although you'll have to wait), pay for it privately or get it online.</p>

          <h2 id="how-to-get-therapy-on-the-nhs">How to get talking therapies on the NHS</h2>

          <p>Speak to your GP about the way you feel.</p>
          <p>If they think a talking therapy is the best treatment, they can refer you, or give you a number to a local service that provides therapy in your area.</p>
          <p>Some GPs put you directly in touch with a therapist or have therapists in their practice.</p>
          <p>If you don't want to speak to your GP, you can call your local service directly. <a href="http://www.nhs.uk/Service-Search/Psychological-therapies-(IAPT)/LocationSearch/10008">Check you have IAPT services (Improving Access to Psychological Treatment) in your area.</a></p>      

          <h3 id="waiting-times-can-be-long">Waiting times can be long</h3>

          <p>Waiting times vary depending on your area. It can be can be up to a year.</p>

          <h3 id="therapy-is-around-6-to-12-sessions">NHS Therapy is around 6 to 12 sessions</h3>

          <p>When your course of therapy has finished, you'll have to review your situation with your GP. They may prescribe further sessions.</p>

          <h2 id="paying-for-therapy-yourself">Paying for therapy yourself</h2>
          <p>You can also go directly to a therapist without using the NHS. You don’t need a referral from your GP and you can usually start right away.</p>

          <p>The price per therapy session varies between £10 and £100, depending on where you live. Bigger cities, like London tend to be more expensive. Some therapists adjust their prices according to your income.</p>

          <p>The charity <a href="http://www.mind.org.uk/">Mind</a> offers counselling free of charge.</p>

          <h3 id="finding-a-therapist-yourself">Finding a therapist yourself</h3>
          <p>To search for an approved therapist use:</p>

          <ul>
            <li><a href="http://www.bacp.co.uk/seeking_therapist/right_therapist.php">British Association for Counselling and Psychotherapy</a></li>
            <li><a href="http://members.psychotherapy.org.uk/findATherapist">UK Council for Psychotherapy</a></li>
            <li><a href="http://www.cbtregisteruk.com/Default.aspx">British Association for for Behavioral and Cognitive Psychotherapies</a></li>
            <li><a href="http://www.counselling-directory.org.uk/">Counselling Directory</a></li>
          </ul>

          <h2 id="you-can-get-therapy-online">How to get therapy online</h2>

          <p>A type of therapy called cognitive behavioural therapy (CBT) is available online and it may be free on the NHS, depending where you live.</p>

          <p>The benefits of computerised CBT include:</p>

          <ul>
            <li>no waiting time</li>
            <li>you don’t need a lot of experience on computers to use them</li>
            <li>research shows they work</li>
            <li>you can use them any time</li>
          </ul>

          <p>Your GP can refer you for computerised CBT or you can refer yourself at:</p>

          <ul>
            <li><a href="https://moodgym.anu.edu.au/welcome">Moodgym</a></li>
            <li><a href="http://www.livinglifetothefull.co.uk/">Living Life to the Full</a></li>
            <li><a href="http://fearfighter.cbtprogram.com/">Fearfighter</a></li>
            <li><a href="http://iesohealth.com/accessing-ieso/patients/">Ieso</a></li>
          </ul>

          <h3 id="changing-therapists">Changing therapists</h3>

          <p>Finding a therapist that's right for you can improve the success of your therapy.</p>

          <p>If you're unhappy with your therapist, speak to your GP (if you're having NHS therapy) or consider changing a private therapist.</p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="grid-1-2 article-pagination -previous">
                    <a href="seeking-help" >
                    <div class="prefix">Previous page:</div>
                    <div class="title">Seeking help</div>
                    </a>
                </div>

                <div class="grid-1-2 article-pagination -next">
                    <a href="understanding-medication">
                    <div class="prefix">Next page:</div>
                    <div class="title">Understanding medication</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
