{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "How to tell if you have it - Depression and anxiety - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Depression and anxiety<!-- {{ pagetitle }} --></h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  How to tell if you have it
              </li>
              <li class="nav-item">
                  <a href="seeking-help">Seeking help</a>
              </li>
              <li class="nav-item">
                  <a href="getting-therapy">Getting therapy</a>
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  <a href="managing-depression-and-anxiety">Managing depression and anxiety</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="how-to-tell-if-you-have-depression-or-anxiety">How to tell if you have depression or anxiety</h2>

          <p>Everyone has periods of low mood. Sometimes this can be because of a particular event, eg a break up.</p>

          <p>Usually low mood gets better on its own after a short time. If it doesn’t, this could be a sign of depression or anxiety.</p>

          <h3 id="symptoms-of-depression">Symptoms of depression</h3>
          <p>When you’re depressed you often have the symptoms for weeks. They can be so bad they start to affect your daily life, eg your work, your family and social life.</p>

          <p>The symptoms of depression can be complex but they often include:</p>

          <ul>
              <li>feeling low and sad all the time</li>
              <li>feeling hopeless and helpless</li>
              <li>feeling anxious and worried</li>
              <li>low self-esteem</li>
              <li>feeling like you want to cry</li>
              <li>being easily irritated</li>
          </ul>

          <p>It can affect your body, too:</p>

          <ul>
            <li>problems getting to sleep or sleeping too much</li>
            <li>not feeling hungry or eating too much</li>
            <li>unexplained physical symptoms, eg aches and pains</li>
            <li>lack of energy</li>
            <li>no interest in sex</li>
            <li>headaches that don’t go away or keep coming back</li>
          </ul>

          <p>Answer these quick <a href="http://www.nhs.uk/Tools/Pages/depression.aspx?Tag=Mental+health">questions to help you assess whether you could have depression.</a></p>

          <h3 id="symptoms-of-anxiety">Symptoms of anxiety</h3>

          <p>If you feel anxious all the time and the feeling isn’t about one specific thing you might have anxiety.</p>

          <p>Symptoms of anxiety include:</p>

          <ul>
            <li>feeling restless</li>
            <li>worrying that things will go wrong</li>
            <li>being on edge</li>
            <li>difficulty concentrating</li>
            <li>feeling irritated</li>
            <li>avoiding going out or seeing people</li>
          </ul>

          <p>Your body can also change and you might notice these symptoms:</p>

          <ul>
            <li>feeling dizzy</li>
            <li>problems sleeping or constant tiredness</li>
            <li>racing heartbeat</li>
            <li>trembling or shaking</li>
            <li>headache</li>
            <li>stomach ache or feeling sick</li>
          </ul>

          <h3 id="what-to-do-next">What to do next</h3>
          <p>If you think you have depression and anxiety, you should <a href="seeking-help">seek help</a> as soon as possible.</p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="article-pagination -next">
                    <a href="seeking-help">
                    <div class="prefix">Next page:</div>
                    <div class="title">Seeking help</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
