{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Managing depression and anxiety - Depression and anxiety - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Depression and anxiety<!-- {{ pagetitle }} --></h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="how-to-tell-if-you-have-it">How to tell if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="seeking-help">Seeking help</a>
              </li>
              <li class="nav-item">
                  <a href="getting-therapy">Getting therapy</a>
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  Managing depression and anxiety
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="managing-depression-and-anxiety" >Managing depression and anxiety</h2>

          <p>There's lots of support out there to help you manage your depression or anxiety.</p>

          <h3 id="talking-to-people-who-know-what-its-like">Talking to people who know what it’s like</h3>
          <p>Being open and talking to people who are dealing with depression and anxiety can help with:</p>

          <p>Your GP might be able to refer to:</p>

          <ul>
            <li>local befriending groups - meet a trained volunteer and do something enjoyable together</li>
            <li>peer support worker - someone with depression and anxiety who can help you access services</li>
          </ul>

          <h3 id="organisations-that-can-help-you-get-talking">Organisations that can help you get talking</h3>

          <ul>
           <!--  <li><a href="https://www.headspace.com/">Headspace</a></li>
            <li><a href="https://www.bigwhitewall.com/landing-pages/landingv3.aspx?ReturnUrl=%2f#.VkxmRGThDw4">Big White Wall</a></li> -->
            <li><a href="https://www.mentalhealth.org.uk/a-to-z/p/peer-support">Mental Health Foundation</a></li>
            <li><a href="http://www.mind.org.uk/information-support/guides-to-support-and-services/peer-support/about-peer-support/">Mind</a></li>
            <li><a href="http://www.depressionalliance.org/how-we-can-help/">Depression Alliance</a></li>
          </ul>

          <p>The mental health charity Mind has a <a href="http://www.mind.org.uk/information-support/types-of-mental-health-problems/anxiety-and-panic-attacks/useful-contacts/#.Vk8P9WThCRb">full list of organisations to contact if you have anxiety.</a></p>

          <p>Mind also runs the <a href="http://www.mind.org.uk/information-support/your-stories.aspx">Mind blog</a> where people post their experiences.</p>         

          <h3 id="being-active-for-20-minutes-a-day-helps">Being active for 20 minutes a day helps</h3>

          <p>Exercise releases chemicals in your brain called endorphins which lift your mood.</p>

          <p>Ask your GP for a prescription for exercise. They can discuss exercise that is best for you and may even help get reduced rates for the use of local centres.</p>

          <h3 id="you-can-exercise-anywhere">There are many ways you can be active</h3>

          <p>Exercise can be anything that gets you slightly out of breath, for example:</p>

          <ul>
            <li>Fast walking - try walking part or all the way to work</li>
            <li>Taking the stairs</li>
            <li>gardening - <a href="http://www.mind.org.uk/information-support/drugs-and-treatments/ecotherapy/finding-a-programme/#.VmAbeNDquU4">find a gardening project in your area</a> or work outside with <a href="http://www.tcv.org.uk/greengym">Green Gym</a></li>
          </ul>

          <h3 id="keeping-in-touch-with-people">Keeping in touch with people</h3>

          <p>Keeping in touch with people can feel difficult when you feel depressed or anxious. Facing your fears is an important part of managing your condition every day.</p>

          <p>Try to talk to friends and family regularly and meet up with them whenever possible.</p>

          <p><a href="https://www.gov.uk/government/get-involved/take-part/volunteer">Volunteering</a> can also be a good way to meet people.</p>

          <h3 id="noticing-the-things-around-you">Noticing the things around you</h3>

          <p>The way we think affects the way we feel. Paying more attention to the present moment can help you feel better.</p>

          <p>Every day try to take a moment to stand back and notice:</p>

          <ul>
            <li>what you’re thinking</li>
            <li>how you’re feeling</li>
            <li>what’s happening around you</li>
          </ul>

          <p>Try not to think of anything else.</p>

          <p>This is called ‘mindfulness’. It can help you notice signs of stress, anxiety or depression earlier and deal with them better.</p>

          <p>Things like yoga, breathing exercises and meditation can also help you being more aware.</p>

          <h3 id="what-you-eat-can-affect-how-you-feel">What you eat can affect how you feel</h3>
          <p>When your body is healthy, it helps you feel better about yourself.</p>

          <p>Try not to skip meals and drink lots of fluids (preferably water).</p>

          <p>Every day try to eat:</p>

          <ul>
            <li>fruit and vegetables</li>
            <li>starchy foods, like pasta, rice or bread</li>
            <li>protein foods, like lean meat, fish, beans, cheese, nuts or yogurt</li>
          </ul>

          <h3 id="alcohol-can-make-depression-worse">Alcohol can make depression worse</h3>

          <p>Try not to drink too much alcohol.</p>

          <p>Men and women shouldn't drink more than 14 units of alcohol a week and have at least 2 alcohol free days in a week.</p>

          <p>14 units of alcohol is equivalent to 6 pints of average strength beer or 10 glasses of low strength wine.</p>

          <p>To work out how many units are in a drink, use Alcohol Concern's <a href="https://www.alcoholconcern.org.uk/help-and-advice/help-and-advice-with-your-drinking/unit-calculator/">unit calculator</a>.</p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="grid-1-2 article-pagination -previous">
                    <a href="understanding-medication" >
                    <div class="prefix">Previous page:</div>
                    <div class="title">Understanding Medication</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
