{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Seeking help - Depression and anxiety - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Depression and anxiety<!-- {{ pagetitle }} --></h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="how-to-tell-if-you-have-it">How to tell if you have it</a>
              </li>
              <li class="nav-item">
                  Seeking help
              </li>
              <li class="nav-item">
                  <a href="getting-therapy">Getting therapy</a>
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  <a href="managing-depression-and-anxiety">Managing depression and anxiety</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="seeking-help">Seeking help</h2>

          <p>If you have <a href="how-to-tell-if-you-have-it">symptoms of depression or anxiety</a> for more than 2 weeks you should see your GP. This is usually the first step to seek help.</p>

          <p>It’s very common for people to see their GP about constant low mood, depression or anxiety.</p>

          <div class="callout notice" role="note" aria-label="Information">
            <p>If you need help now, call 111 or the Samaritans on <span class="nowrap">08457 90 90 90</span>.</p>
          </div>
          
          <h3 id="what-happens-in-your-gp-appointment">What happens in your GP appointment</h3>

          <p>Your GP will discuss your symptoms with you and recommend what you can do next.</p>

          <p>You can be open and honest with your GP. This will help them to find the best way to help you.</p>

          <p>They might recommend a <a href="getting-therapy">talking therapy</a> or <a href="
            understanding-medication">medication</a>, or both. They might just recommend something as simple as exercising regularly.</p>

          <h3 id="what-happens-in-your-gp-appointment">Talking to a therapist</h3>  

          <p>You can also <a href="getting-therapy">see a therapist privately</a> without going through your GP.</p>

          <p>Talking to a therapist can help with:</p>

          <ul>
            <li>understanding why you feel the way you feel</li>
            <li>finding ways of coping every day</li>
          </ul>

          <p>There are many different types of talking treatments.  The charity Mind has more information about <a href="http://www.mind.org.uk/information-support/drugs-and-treatments/talking-treatments/types-of-therapy/#.VmBFKHbhCM8">types of therapy.</a></p>

          <h3 id="if-you-dont-want-to-talk-to-your-gp">If you don’t want to talk to your GP</h3>
          
          <p>If you don’t feel comfortable talking to your GP about the way you feel, you can contact one of the charities that help people with depression and anxiety.</p>

          <p>They can help you with things like talking to other people about your problem or finding a therapist. They won’t be able to prescribe you free therapy.</p>

          <ul>
            <li><a href="http://www.depressionalliance.org/">Depression Alliance</a></li>
            <li><a href="http://www.depressionuk.org/index.shtml">Depression UK</a></li>
            <li><a href="http://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/">Mind</a></li>
            <li><a href="http://www.rethink.org/diagnosis-treatment/conditions/depression">Rethink mental illness</a></li>
            <li><a href="https://www.bigwhitewall.com/landing-pages/landingv3.aspx">Big White Wall</a></li>
          </ul>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="grid-1-2 article-pagination -previous">
                    <a href="how-to-tell-if-you-have-it" >
                    <div class="prefix">Previous page:</div>
                    <div class="title">How to tell if you have it</div>
                    </a>
                </div>

                <div class="grid-1-2 article-pagination -next">
                    <a href="getting-therapy">
                    <div class="prefix">Next page:</div>
                    <div class="title">Getting therapy</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
