{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Understanding medication - Depression and anxiety - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Depression and anxiety<!-- {{ pagetitle }} --></h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="how-to-tell-if-you-have-it">How to tell if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="seeking-help">Seeking help</a>
              </li>
              <li class="nav-item">
                  <a href="getting-therapy">Getting therapy</a>
              </li>
              <li class="nav-item">
                  Understanding medication
              </li>
              <li class="nav-item">
                  <a href="managing-depression-and-anxiety">Managing depression and anxiety</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="medication-for-depression-or-anxiety">Medication for depression or anxiety</h2>

          <p>You may have been prescribed antidepressants if you have moderate to severe depression or anxiety.</p>

          

          <p>If you have low mood or mild depression, antidepressants won’t always work. Talking therapies like <a href="http://www.nhs.uk/conditions/cognitive-behavioural-therapy/pages/introduction.aspx"> cognitive behavioural therapy</a> (CBT) are usually recommended, although you’ll have to wait to get it.</p>

          <h2 id="how-antidepressants-help">How antidepressants help</h2>

          <p>Antidepressants affect how certain chemicals in your brain work. This can help you feel better so you can do other things, such as:</p>

          <ul>
            <li>talking to other people</li>
            <li>being active</li>
            <li>taking part in therapy</li>
          </ul>

          <p>This is why they’re often prescribed alongside <a href="getting-therapy">therapy</a>, or while you’re waiting for therapy.</p>

          <p>Read more about other ways of <a href="managing-depression-and-anxiety">managing your depression</a></p>

          <h3 id="antidepressants-should-start-working-soon-after-taking-them">Antidepressants should start working soon after taking them</h3>

<!--           <div class="callout notice" role="note" aria-label="Information">
              <p>It usually takes around 2 weeks to notice the effects of antidepressants</p>
          </div>   --> 

          <p>Your GP will prescribe the lowest dose necessary to help your depression or anxiety.</p>

          <p>It usually takes around 2 weeks to notice the effects of antidepressants.</p>

          <p>Speak to your GP if you don’t feel any better after 4 weeks. They may discuss with you
          increasing the dose, changing the type of antidepressant, or suggest another treatment.</p>

          <p>You should not change the dose yourself without talking to your GP.</p>

          <p>Antidepressants are usually prescribed for 6 months to prevent depression returning when you stop taking them.  A longer course may be recommended if you’ve had depression before.</p>
            
          <h3 id="side-effects">Side effects</h3>

          <p>Antidepressants don’t have the severe side effects they had years ago. They won’t make you feel high. They aren’t tranquilisers and don’t cause addiction.</p>

          <p>Common side effects of antidepressants are mild in most cases and include:</p>

          <ul>
            <li>dizziness</li>
            <li>feeling sick</li>
            <li>diarrhoea or constipation</li>
            <li>problems sleeping</li>
            <li>problems with sex</li>
            <li>dry mouth</li>
            <li>feeling agitated or anxious</li>
          </ul>

          <p>The charity MIND has a full list of the different types of <a href="http://www.mind.org.uk/information-support/drugs-and-treatments/antidepressants-a-z.aspx">antidepressants and their side effects.</a></p>

          <p>Side effects are common when you first start taking antidepressants. They should improve as your body gets used to the medication. This can take a few weeks.</p>

          <p>Speak to your GP if the side effects don’t improve. You can discuss whether another type of antidepressant might be better.</p>

          <p>Some studies have shown a small increased risk of suicide with some antidepressants. This is most common in teenagers. Speak to your GP immediately if you have severe side effects or experience suicidal thoughts.</p>          

          <h3 id="renewing-your-prescription-for-antidepressants">Renewing your prescription for antidepressants</h3>

          <p>At first you’ll need an appointment with your GP for repeat prescriptions. This is so you can discuss how you’re feeling, how medication is working and any side effects.</p>

          <p>You should then be able to collect repeat prescriptions without seeing your GP.</p>

          <h3 id="how-to-stop-taking-antidepressants">How to stop taking antidepressants</h3>

          <p>You shouldn’t suddenly stop taking antidepressants. They can cause withdrawal symptoms, like anxiety and dizziness.</p>

          <p>In most people these are mild and pass within a few days. In some people the depression can come back.</p>

          <p>You should gradually stop taking antidepressants. This might mean:</p>

          <ul>
            <li>reducing the dose</li>
            <li>taking them every other day (if you’re already on a low dose)</li>
          </ul>

          <div class="callout notice" role="note" aria-label="Information">
              <p>Speak to your doctor if you plan to stop taking your antidepressants.</p>
          </div>  

          <h3 id="how-you-feel-when-you-stop-taking-antidepressants">How you feel when you stop taking antidepressants</h3>

          <p>It’s difficult to know how you might feel when you stop taking antidepressants.</p>

          <p>Antidepressants don’t cure depression or anxiety, they ease the symptoms.</p>

          <p>For some people their mood gradually worsens and they need to take medication for longer. For others, the feelings of depression or anxiety will have passed and they continue to feel better.</p>

          <p>How you feel will depend on things like what’s caused your depression or anxiety and whether other treatments have helped.</p>

          <h3 id="alternative-medicines">Alternative medicines</h3>

          <p>Some people prefer to take natural medicines. However, there’s no evidence for many of the herbal remedies suggested for depression on the internet.</p>

          <p>There's some evidence that a herbal medicine called St John’s wort can help depression in some people, but it can cause serious problems if taken with other medecines, including:</p>

          <ul>
            <li>antidepressants</li>
            <li>the contraceptive pill</li>
            <li>anticoagulants</li>
          </ul>

          <p>Speak to your GP if you plan to take any herbal medicine and you’re already taking medication for another condition.</p>


      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="grid-1-2 article-pagination -previous">
                    <a href="getting-therapy" >
                    <div class="prefix">Previous page:</div>
                    <div class="title">Getting therapy</div>
                    </a>
                </div>

                <div class="grid-1-2 article-pagination -next">
                    <a href="managing-depression-and-anxiety">
                    <div class="prefix">Next page:</div>
                    <div class="title">Managing depression and anxiety</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
