{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Check if you have it - Type 2 diabetes - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Type 2 diabetes</h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  Check if you have it
              </li>
              <li class="nav-item">
                  <a href="getting-diagnosed">Getting diagnosed</a>
              </li>
              <li class="nav-item">
                 <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  <a href="going-for-regular-check-ups">Going for regular check ups</a>
              </li>
              <li class="nav-item">
                  <a href="health-problems">Health problems</a>
              </li>
              <li class="nav-item">
                  <a href="food-and-keeping-active">Food and keeping active</a>
              </li>
              <li class="nav-item">
                  <a href="finding-help-and-support">Finding help and support</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="check-if-you-have-type-2-diabetes">How to tell if you have type 2 diabetes</h2>

          <p>Many people have type 2 diabetes and don’t realise. This is because symptoms don’t necessarily make you feel unwell.</p>

          <p>Symptoms of type 2 diabetes include:</p>

          <ul>
            <li>peeing more than usual, particularly at night</li>
            <li>feeling thirsty all the time</li>
            <li>feeling very tired</li>
            <li>losing weight without trying</li>
            <li>itching around your penis or vagina, or you keep getting thrush</li>
            <li>cuts or wounds that take longer to heal</li>
          </ul>

          <p>You’re more at risk of developing type 2 diabetes if you:</p>

          <ul>
            <li>are over 40 (or 25 for South Asian people)</li>
            <li>have a close relative with diabetes (parent, brother or sister)</li>
            <li>are overweight or obese</li>
            <li>are of South Asian, Chinese, African-Caribbean or black African origin (even if you were born in the UK)</li>
          </ul>

          <h2 id="when-to-see-your-gp">When to see your GP</h2>

          <p>See your GP if you have any of the symptoms of type 2 diabetes, or you're worried you may have a higher risk of developing it.</p>

          <p><a href="getting-diagnosed">Your GP can diagnose diabetes.</a> You’ll need a blood test which you may have to go to your local health center for if it can’t be done at your GP surgery.</p>

          <p>The earlier diabetes is diagnosed and treatment starts, the better. Treating diabetes early reduces your risk of <a href="health-problems">other health problems.</a></p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="article-pagination -next">
                    <a href="getting-diagnosed">
                    <div class="prefix">Next page:</div>
                    <div class="title">Getting diagnosed</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
