{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Finding help and support - Type 2 diabetes - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Type 2 diabetes</h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="check-if-you-have-it">Check if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="getting-diagnosed">Getting diagnosed</a>
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  <a href="going-for-regular-check-ups">Going for regular check ups</a>
              </li>
              <li class="nav-item">
                 <a href="health-problems">Health problems</a>
              </li>
              <li class="nav-item">
                 <a href="food-and-keeping-active">Food and keeping active</a>
              </li>
              <li class="nav-item">
                  Finding help and support
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="finding-help-and-support-for-type-2-diabetes">Finding help and support for type 2 diabetes</h2>

          <p>There is a lot of information and support available for type 2 diabetes. Some of the support depends on the area you live in.</p>

          <h3 id="learn-about-managing-diabetes">Take a course to help you manage your diabetes</h3>
          <p>There are free education courses to help you learn more about and manage your type 2 diabetes.</p>

          <p>Your GP will need to refer you. You can phone your GP surgery to get a referral letter, you don’t need to make an appointment.</p>

          <p>Read more information about <a href="http://www.desmond-project.org.uk/newlydiagnosedandfoundationmodules-278.html">education courses for type 2 diabetes</a></p>

          <h3 id="driving-with-type-2-diabetes">Telling DVLA you have type 2 diabetes</h3>
          <p>If you're taking insulin for your type 2 diabetes, you will need to <a href="https://www.gov.uk/diabetes-driving">tell the DVLA</a>. This is because of the risk of hypoglycaemia. You can be fined if you don't tell DVLA.</p>

          <h3 id="support-groups-for-type-2-diabetes">Support groups for type 2 diabetes</h3>
          <p>The charity Diabetes UK runs <a href="https://www.diabetes.org.uk/How_we_help/Local_support_groups/">local support groups.</a></p>

          <p>They can help with things like managing your diabetes on a daily basis, diet, exercise or dealing with emotional problems like depression. They’re a place to talk and find out how others live with the condition.</p>

          <h3 id="blogs-about-diabetes">Blogs and forums about diabetes</h3>

          <ul>
            <li><a href="http://www.diabetes.co.uk/forum/">Diabetes.co.uk forum</a> - discussions about living with and managing diabetes</li>
            <li><a href="http://blogs.diabetes.org.uk/">Diabetes UK blogs</a> - collection of different blogs on food, eyes, work and diabetes and more</li>
            <li><a href="http://www.diabetes.co.uk/diabetes-chat/">Diabetes Chat</a> - offers scheduled chats with healthcare professionals or just the chance to talk to others</li>
          </ul>

          <h3 id="telling-others">Telling others can be difficult</h3>

          <p>However, it can help for certain people to know you have diabetes:</p>

          <ul>
            <li>family can support you, especially as you will need to make change what you eat</li>
            <li>it’s important your colleagues or employer know in case of an emergency</li>
            <li>being diagnosed with diabetes can affect your mood - telling your partner will help them understand how you feel</li>
          </ul>

          <h3 id="carry-medical-id">Carry Medical ID in case of an emergency</h3>
          <p>Some people choose to wear a special wristband or carry something in their wallet that says they have diabetes, in case there is a medical emergency.</p>

          <p>Knowing you have diabetes can make a difference to the treatment you’ll be given.</p>

          <p>Search the internet for ‘medical ID’ to find a website that sells them.</p>


      </div>

  </div> <!-- end row -->    

</div> <!-- content -->


<div class="content">

    <div class="grid-row">

      <div class="grid-2-3 pagination-container">

              <div class="grid-1-2 article-pagination -previous">
                  <a href="food-and-keeping-active">
                  <div class="prefix">Previous page:</div>
                  <div class="title">Food and keeping active</div>
                  </a>
              </div>

      </div>

    </div> <!-- end row -->
    
</div>   <!-- content -->
  



{% endblock %}
