{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Food and keeping active - Type 2 diabetes - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Type 2 diabetes</h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="check-if-you-have-it">Check if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="getting-diagnosed">Getting diagnosed</a>
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  <a href="going-for-regular-check-ups">Going for regular check ups</a>
              </li>
              <li class="nav-item">
                 <a href="health-problems">Health problems</a>
              </li>
              <li class="nav-item">
                  Food and keeping active
              </li>
              <li class="nav-item">
                  <a href="finding-help-and-support">Finding help and support</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="food-and-keeping-active">Food and keeping active</h2>

          <p>A healthy diet and keeping active will help you manage your blood sugar level. They’ll also help you to control your weight and generally feel better.</p>

          <h3 id="you-can-eat-many-types-of-foods">You can eat many types of foods</h3>
          <p>There’s nothing you can’t eat, but you’ll have to limit certain foods.</p>

          <p>You should:</p>

          <ul>
            <li>eat a wide range of foods - including fruit, vegetables, some starchy foods such as pasta</li>
            <li>keep sugar, fat and salt to a minimum</li>
            <li>eat breakfast, lunch and dinner every day - don’t skip meals</li>
          </ul>

          <p>If you need to change your diet, it might be easier to make small changes every week.</p>

          <p>Information about food can be found on these diabetes sites:</p>

          <ul>
            <li><a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Food-and-diabetes/What-is-a-healthy-balanced-diet/">food for people with diabetes</a></li>
            <li><a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Eating-with-diabetes/">tips on eating with your family and eating out</a></li>
            <li><a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Cooking-for-people-with-diabetes/">recipes for people with diabetes</a></li>
            <li><a href="http://www.diabetes.co.uk/forum/category/food-nutrition-and-recipes.3/">food and nutrition message board</a>.</li>
          </ul>

          <div class="callout notice" role="note" aria-label="Information">
                <p>Once a year you should go for a <a href="going-for-regular-check-ups">regular diabetes check</a> to make sure your blood pressure and your cholesterol (blood fats) level are ok.</p>
          </div>

          <h3 id="help-with-changing-your-diet">Help with changing your diet</h3>
          <p>If you find it hard to change your diet, a dietitian might be able to help.</p>

          <p>Talk to your GP or diabetes nurse to see if the cost could be covered through the NHS.</p>

          <h3 id="being-active-lowers-your-blood-sugar-level">Being active lowers your blood sugar level</h3>
          <p>Physical exercise helps lower your blood sugar level. You should aim for 2.5 hours of activity per week.</p>

          <p>You can be active anywhere, as long as what you’re doing makes you out of breath. This could be:</p>

          <ul>
            <li>fast walking</li>
            <li>climbing stairs</li>
            <li>doing more strenuous housework or gardening</li>
          </ul>

          <p>The charity Diabetes UK has <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Managing-your-diabetes/Exercise/">tips on how to get active</a>.</p>

          <h3 id="your-weight-is-important">Your weight is important</h3>
          <p>Losing weight (if you’re overweight) will make it easier for your body lower your blood sugar level and can improve your blood pressure and cholesterol (blood fats).</p>

          <p>To know whether you’re overweight, work out your <a href="http://www.nhs.uk/Tools/Pages/Healthyweightcalculator.aspx">body mass index (BMI)</a>.</p>

          <p>If you need to lose weight, try and do it slowly over time, about 0.5 to 1 kilo a week.</p>

          <p>The charity Diabetes UK has more <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Food-and-diabetes/Whats-your-healthy-weight/">information on healthy weight and weight loss</a>.</p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->



  <div class="content">

      <div class="grid-row">

        <div class="grid-2-3 pagination-container">

                <div class="grid-1-2 article-pagination -previous">
                    <a href="health-problems" >
                    <div class="prefix">Previous page:</div>
                    <div class="title">Health problems</div>
                    </a>
                </div>

                <div class="grid-1-2 article-pagination -next">
                    <a href="finding-help-and-support">
                    <div class="prefix">Next page:</div>
                    <div class="title">Finding help and support</div>
                    </a>
                </div>

        </div>

      </div> <!-- end row -->
      
  </div>  
  



{% endblock %}
