{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Going for regular check ups - Type 2 diabetes - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Type 2 diabetes</h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="check-if-you-have-it">Check if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="getting-diagnosed">Getting diagnosed</a>
              </li>
              <li class="nav-item">
                  <a href="understanding-medication">Understanding medication</a>
              </li>
              <li class="nav-item">
                  Going for regular check ups
              </li>
              <li class="nav-item">
                  <a href="health-problems">Health problems</a>
              </li>
              <li class="nav-item">
                  <a href="food-and-keeping-active">Food and keeping active</a>
              </li>
              <li class="nav-item">
                  <a href="finding-help-and-support">Finding help and support</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="going-for-regular-check-ups">Going for regular check ups</h2>

          <p>Type 2 diabetes check ups help to make sure your condition doesn’t lead to other health problems.</p>

          <h3 id="every-3-months">Every 3 months</h3>

          <h4 id="blood-sugar-checks-hba1c-test">Blood sugar checks (HbA1C test)</h4>

          <p>Checks your average blood sugar levels and how close they are to normal.</p>

          <p>You have these checks every 3 months when newly diagnosed, then every 6 months once you’re stable.</p>
          
          <p>This can be done by your GP or diabetes nurse.</p>

          <h3 id="once-a-year">Once a year</h3>

          <h4 id="feet">Feet</h4>

          <p>Checks if you’ve lost any feeling in your feet and for ulcers and infections.</p>

          <p>This can be done by your GP, diabetes nurse or podiatrist</p>

          <p>Speak to your GP immediately if you have cuts, bruises, or numbness in your feet.</p>

          <h4 id="eyes">Eyes</h4>

          <p>Checks for damage to blood vessels in your eyes.</p>

          <p>This can be done by an optometrist</p>

          <p>Speak to your GP immediately if you have blurred vision.</p> 

          <h4 id="blood-pressure-blood-fats-cholesterol-and-kidneys">Blood pressure, blood fats (cholesterol) and kidneys</h4>

          <p>Checks for high blood pressure, heart and kidney disease.</p>

          <p>This can be done by your GP or diabetes nurse.</p>

          <p><a href="health-problems">Why it’s important to have these check ups</a></p>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->


<div class="content">

    <div class="grid-row">

      <div class="grid-2-3 pagination-container">

              <div class="grid-1-2 article-pagination -previous">
                  <a href="understanding-medication" >
                  <div class="prefix">Previous page:</div>
                  <div class="title">Understanding medication</div>
                  </a>
              </div>

              <div class="grid-1-2 article-pagination -next">
                  <a href="health-problems">
                  <div class="prefix">Next page:</div>
                  <div class="title">Health problems</div>
                  </a>
              </div>

      </div>

    </div> <!-- end row -->
    
</div>   <!-- content -->
  



{% endblock %}
