{% extends "_layouts/_layout-default.html" %}

{% set pagetitle = "Understanding medication - Type 2 diabetes - NHS.UK Alpha" %}

{% block localheader %}
  <div id="local-header">

    <div class="header-local-container">
        <h1>Type 2 diabetes</h1>
          
          <nav class="condition-navigation">
          <ol class="nav-list">
              <li class="nav-item">
                  <a href="check-if-you-have-it">Check if you have it</a>
              </li>
              <li class="nav-item">
                  <a href="getting-diagnosed">Getting diagnosed</a>
              </li>
              <li class="nav-item">
                  Understanding medication
              </li>
              <li class="nav-item">
                  <a href="going-for-regular-check-ups">Going for regular check ups</a>
              </li>
              <li class="nav-item">
                  <a href="health-problems">Health problems</a>
              </li>
              <li class="nav-item">
                  <a href="food-and-keeping-active">Food and keeping active</a>
              </li>
              <li class="nav-item">
                  <a href="finding-help-and-support">Finding help and support</a>
              </li>
          </ol>

    </div>


  </div>
{% endblock %}

{% block content %}

<div class="content">

    <div class="grid-row">

      <div class="grid-2-3">

          <h2 class="heading-xlarge" id="understanding-medication">Understanding medication</h2>

          <p>Most people need medicine to control their type 2 diabetes. Medicine help keep your blood sugar level as normal as possible to prevent health problems. You’ll have to take it for the rest of your life.</p>

          <p>Diabetes usually gets worse over time so your medicine or dose will need to change.</p>

          <p><a href="food-and-keeping-active">Adjusting your diet and being active</a> is also necessary to keep your blood sugar level down.</p>

          <h3 id="getting-the-right-medicine-for-you">Getting the right medicine for you</h3>

          <p>Diabetes medicines help lower the amount of sugar in your blood.</p>

          <div class="callout notice" role="note" aria-label="Information">
              <p>There are many types of medicine for type 2 diabetes. It can take time to find a medicine and dose that’s right for you.</p>
          </div>

          <p>You’ll usually be offered a medicine called metformin first. If your blood sugar levels haven’t lowered within 3 months, you may need another medecine</p>

          <p>Over time, you may need a combination of medicines.  Your GP or diabetes nurse will recommend the medicines most suitable for you.</p>

          <p>Insulin isn't often used for type 2 diabetes. It's needed only when other medecines no longer work.</p>

          <p>Diabetes UK has more information about <a href="https://www.diabetes.org.uk/Guide-to-diabetes/What-is-diabetes/Diabetes-treatments/">taking medicines for type 2 diabetes.</a></p>

          <h3 id="taking-your-medicine">Taking your medicine</h3>
          <p>Your GP or diabetes nurse will explain how to take your medecine and how to store it. If you need to inject insulin or a medicine called gliptins, they’ll show you how to do it.</p>

          <h3 id="side-effects">Side effects</h3>

          <p>Your diabetes medicine may cause side effects.  These can include:</p>

          <ul>
            <li>bloating and diarrhoea</li>
            <li>weight loss or weight gain</li>
            <li>feeling sick</li>
            <li>swollen ankles</li>
          </ul>

          <p>Not everyone has side effects.</p>

          <p>If you feel unwell after taking medicine or notice any side effects, speak to your GP or diabetes nurse.  Don’t stop taking medication without advice.</p>

          <h3 id="how-to-get-free-prescriptions-for-diabetes-medication">How to get free prescriptions for diabetes medication</h3>

          <p>You’re entitled to free prescriptions for your diabetes medication.</p>

          <p>To claim your free prescriptions you’ll need to apply for an exemption certificate. To do this:</p>

          <ul>
            <li>fill in a form at your GP surgery</li>
            <li>you should get the certificate in the post about a week later (it will last 5 years)</li>
            <li>take it to your pharmacy with your prescriptions</li>
          </ul>

          <p>Save your receipts if you have to pay for diabetes medication before you receive your exemption certificate so you can claim money back.</p>

          <h3 id="travelling-with-medicines">Travelling with diabetes medicines</h3>

          <p>If you’re going on holiday:</p>

          <ul>
            <li>Pack extra medecine - speak to your diabetes nurse about how much</li>
            <li>carry your medecine in your hand luggage in case your checked-in bags go missing or are damaged</li>
            <li>if you're flying with a medicine you inject, get a letter from your GP that says you need it to treat diabetes</li>
          </ul>

      </div>

  </div> <!-- end row -->    

</div> <!-- content -->


<div class="content">

    <div class="grid-row">

      <div class="grid-2-3 pagination-container">

              <div class="grid-1-2 article-pagination -previous">
                  <a href="getting-diagnosed" >
                  <div class="prefix">Previous page:</div>
                  <div class="title">Getting diagnosed</div>
                  </a>
              </div>

              <div class="grid-1-2 article-pagination -next">
                  <a href="going-for-regular-check-ups">
                  <div class="prefix">Next page:</div>
                  <div class="title">Going for regular check ups</div>
                  </a>
              </div>

      </div>

    </div> <!-- end row -->
    
</div>   <!-- content -->
  



{% endblock %}
